<section class="all-photos">
    <div class="centered">
        <div class="info-about">
            <div class="text centered">
                <h5 class="uppercase">Multimundos</h5>
                <p>We make clothing unlike anything you’ve worn before. Soft and versatile, modern, cool, ageless and genderless. </p>
            </div>
        </div>
        <div class="photos-gallery main-gallery js-flickity" data-flickity-options='{ "cellAlign": "center", "contain": true }'>
            <div class="photo"><img src="images/img-all-photo-01a.png"></div>
            <div class="photo"><img src="images/img-all-photo-01b.png"></div>
            <div class="photo"><img src="images/img-all-photo-01a.png"></div>
            <div class="photo"><img src="images/img-all-photo-01b.png"></div>
        </div>
        
    </div>
</section>