<section class="beh-timeline">
	<div class="year year2012 revealOnScroll">
		<div class="gallery">
			<div class="image parallax-window image-01" data-parallax="scroll" data-speed="0.8" data-position="0 0" data-image-src="images/img-timeline-2012-01.jpg"></div>
			<div class="image parallax-window image-02" data-parallax="scroll" data-speed="0.8" data-position="0 0" data-image-src="images/img-timeline-2012-02.jpg"></div>
			<div class="image parallax-window image-03" data-parallax="scroll" data-speed="0.8" data-position="0 0" data-image-src="images/img-timeline-2012-03.jpg"></div>
			<div class="image parallax-window image-04" data-parallax="scroll" data-speed="0.8" data-position="0 0" data-image-src="images/img-timeline-2012-04.jpg"></div>
			<div class="image parallax-window image-05" data-parallax="scroll" data-speed="0.8" data-position="0 0" data-image-src="images/img-timeline-2012-05.jpg"></div>
			<div class="image parallax-window image-06" data-parallax="scroll" data-speed="0.8" data-position="0 0" data-image-src="images/img-timeline-2012-06.jpg"></div>
			<div class="image parallax-window image-07" data-parallax="scroll" data-speed="0.8" data-position="0 0" data-image-src="images/img-timeline-2012-07.jpg"></div>
		</div>
		<div class="box-text">
			<h4 class="title uppercase">
	            <span class="effect">
	                <div>POINT</div> 
	                <div>OF VIEW</div>
	            </span>
	        </h4>
	         <p class="description">
	            A cada mês uma peça essencial, atemporal em quantidade limitada que mescla técnicas artesanais e tecnológicas.
	        </p>
	        <span class="pull-left open-gallery"><a href="">Galeria I</a></span>
	        <span class="pull-left open-gallery"><a href="">Galeria II</a></span>
		</div>
	</div>
	<div class="clear"></div>
	<div class="year year2013 revealOnScroll">
		<div class="gallery">
			<div class="image parallax-window image-01" data-parallax="scroll" data-speed="0.8" data-position="0 0" data-image-src="images/img-timeline-2013-01.jpg"></div>
			<div class="image parallax-window image-02" data-parallax="scroll" data-speed="0.8" data-position="0 0" data-image-src="images/img-timeline-2013-02.jpg"></div>
			<div class="image parallax-window image-03" data-parallax="scroll" data-speed="0.8" data-position="0 0" data-image-src="images/img-timeline-2013-03.jpg"></div>
			<div class="image parallax-window image-04" data-parallax="scroll" data-speed="0.8" data-position="0 0" data-image-src="images/img-timeline-2013-04.jpg"></div>
			<div class="image parallax-window image-05" data-parallax="scroll" data-speed="0.8" data-position="0 0" data-image-src="images/img-timeline-2013-05.jpg"></div>
			<div class="image parallax-window image-06" data-parallax="scroll" data-speed="0.8" data-position="0 0" data-image-src="images/img-timeline-2013-06.jpg"></div>
			<div class="image parallax-window image-07" data-parallax="scroll" data-speed="0.8" data-position="0 0" data-image-src="images/img-timeline-2013-07.jpg"></div>
		</div>
		<div class="box-text">
			<h4 class="title uppercase">
	            <span class="effect">
	                <div>POINT</div> 
	                <div>OF VIEW</div>
	            </span>
	        </h4>
	         <p class="description">
	            A cada mês uma peça essencial, atemporal em quantidade limitada que mescla técnicas artesanais e tecnológicas.
	        </p>
	        <span class="pull-left open-gallery"><a href="">Galeria I</a></span>
	        <span class="pull-left open-gallery"><a href="">Galeria II</a></span>
		</div>
		
	</div>
	<div class="clear"></div>
	<div class="year year2014 revealOnScroll">
		<div class="gallery">
			<div class="image parallax-window image-01" data-parallax="scroll" data-speed="0.8" data-position="0 0" data-image-src="images/img-timeline-2014-01.jpg"></div>
			<div class="image parallax-window image-02" data-parallax="scroll" data-speed="0.8" data-position="0 0" data-image-src="images/img-timeline-2014-02.jpg"></div>
			<div class="image parallax-window image-03" data-parallax="scroll" data-speed="0.8" data-position="0 0" data-image-src="images/img-timeline-2014-03.jpg"></div>
			<div class="image parallax-window image-04" data-parallax="scroll" data-speed="0.8" data-position="0 0" data-image-src="images/img-timeline-2014-04.jpg"></div>
			<div class="image parallax-window image-05" data-parallax="scroll" data-speed="0.8" data-position="0 0" data-image-src="images/img-timeline-2014-05.jpg"></div>
			<div class="image parallax-window image-06" data-parallax="scroll" data-speed="0.8" data-position="0 0" data-image-src="images/img-timeline-2014-06.jpg"></div>
			<div class="image parallax-window image-07" data-parallax="scroll" data-speed="0.8" data-position="0 0" data-image-src="images/img-timeline-2014-07.jpg"></div>
		</div>
		<div class="box-text">
			<h4 class="title uppercase">
	            <span class="effect">
	                <div>POINT</div> 
	                <div>OF VIEW</div>
	            </span>
	        </h4>
	         <p class="description">
	            A cada mês uma peça essencial, atemporal em quantidade limitada que mescla técnicas artesanais e tecnológicas.
	        </p>
	        <span class="pull-left open-gallery"><a href="">Galeria I</a></span>
	        <span class="pull-left open-gallery"><a href="">Galeria II</a></span>
		</div>
		
	</div>
	<div class="clear"></div>
	<div class="year year2015 revealOnScroll">
		<div class="gallery">
			<div class="image parallax-window image-01" data-parallax="scroll" data-speed="0.8" data-position="0 0" data-image-src="images/img-timeline-2015-01.jpg"></div>
			<div class="image parallax-window image-02" data-parallax="scroll" data-speed="0.8" data-position="0 0" data-image-src="images/img-timeline-2015-02.jpg"></div>
			<div class="image parallax-window image-03" data-parallax="scroll" data-speed="0.8" data-position="0 0" data-image-src="images/img-timeline-2015-03.jpg"></div>
			<div class="image parallax-window image-04" data-parallax="scroll" data-speed="0.8" data-position="0 0" data-image-src="images/img-timeline-2015-04.jpg"></div>
			<div class="image parallax-window image-05" data-parallax="scroll" data-speed="0.8" data-position="0 0" data-image-src="images/img-timeline-2015-05.jpg"></div>
			<div class="image parallax-window image-06" data-parallax="scroll" data-speed="0.8" data-position="0 0" data-image-src="images/img-timeline-2015-06.jpg"></div>
			
		</div>
		<div class="box-text">
			<h4 class="title uppercase">
	            <span class="effect">
	                <div>POINT</div> 
	                <div>OF VIEW</div>
	            </span>
	        </h4>
	         <p class="description">
	            A cada mês uma peça essencial, atemporal em quantidade limitada que mescla técnicas artesanais e tecnológicas.
	        </p>
	        <span class="pull-left open-gallery"><a href="">Galeria I</a></span>
	        <span class="pull-left open-gallery"><a href="">Galeria II</a></span>
		</div>
		
	</div>
	<div class="clear"></div>
</section>