<section class="beh-projetoscriando col-md-4  pull-right">
	<h2 class="subtitle-area">Criando e Gerenciando Projetos</h2>
	<div class="projetos">
		<div class="projeto">
			<a href="projeto-comocriar.html">
				<figure><img src="images/img-comocriarprojetos.png"></figure>
				<h3 class="subtitle-opcaoprojetos">COMO CRIAR UM PROJETO</h3>
			</a>
		</div>
		<div class="projeto">
			<a href="projeto-comogerenciar.html">
				<figure><img src="images/img-comogerenciarprojetos.png"></figure>
				<h3 class="subtitle-opcaoprojetos">COMO GERENCIAR UM PROJETO</h3>
			</a>
		</div>
	</div>
</section>