<section class="beh-areasrelacionadas beh-areasrelacionadas-aside">
	<h2 class="subtitle-area">Arquivos Relacionadas <a href="biblioteca.html" class="btn-mais pull-right"><span class="glyphicon glyphicon-plus-sign glyphicon-align-left "></span>mais</a></h2>
	<div class="itens-arquivos">
		<div class="item pull-left">
			<a href="arquivo.html">
				<figure><img src="images/icon-pdf.png"></figure>
				<div class="info">
					<div class="entry-meta">
						<div>
							<span class="data">29.11.2011 </span>
							<span class="outro">EDITORIA</span>
						</div>
					</div>
					<p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit Aenean...</p>
				</div>
			</a>
		</div>
		<div class="item pull-left">
			<a href="arquivo.html">
				<figure><img src="images/img-destaquesbiblioteca-fake.png"></figure>
				<div class="info">
					<div class="entry-meta">
						<div>
							<span class="data">29.11.2011 </span>
							<span class="outro">EDITORIA</span>
						</div>
					</div>
					<p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit Aenean...</p>
				</div>
			</a>
		</div>
		<div class="item pull-left">
			<a href="arquivo.html">
				<figure><img src="images/icon-pdf.png"></figure>
				<div class="info">
					<div class="entry-meta">
						<div>
							<span class="data">29.11.2011 </span>
							<span class="outro">EDITORIA</span>
						</div>
					</div>
					<p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit Aenean...</p>
				</div>
			</a>
		</div>
		<div class="item pull-left">
			<a href="arquivo.html">
				<figure><img src="images/img-destaquesbiblioteca-fake.png"></figure>
				<div class="info">
					<div class="entry-meta">
						<div>
							<span class="data">29.11.2011 </span>
							<span class="outro">EDITORIA</span>
						</div>
					</div>
					<p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit Aenean...</p>
				</div>
			</a>
		</div>
			
		
	</div>
</section>