<section class="beh-moredetails revealOnScroll">
    <div class="images first-col pull-left">
        <div class="image" id="img-moredetails">
            <img src="images/img-products-details-product-01.png">
        </div>
        <div class="image">
            <img src="images/img-products-details-product-03.png">
        </div>
    </div>
    <div class="images second-col pull-left">
        <div class="image">
            <img src="images/img-products-details-product-02.png">
        </div>
        <div class="text text-details beh-boxtext revealOnScroll">
            <span class="type">Details</span>
            <h4 class="title uppercase">
                <div>SOFT</div> 
                <div>& VERSATILE</div>
            </h4>
            <p class="first">We wondered how is to live without our desktop computer to design visuals nowadays; major part of collection is painted direct to our exclusive patented jersey burnout fabrics, finished with ultrasonic cuts that keeps an incredible soft touch forever, no stitched details since 2011 and pure black silk. </p>
        </div>
    </div>
</section>