<section class="beh-areasrelacionadas ">
	<div class="container">
		<div class="col-md-12"><h2 class="subtitle-area">Notícias Relacionadas <a href="noticias.html" class="btn-mais pull-right"><span class="glyphicon glyphicon-plus-sign glyphicon-align-left "></span>mais</a></h2></div>
		<div class="itens-noticias">
			<div class="item col-md-4 pull-left">
				<a href="noticia.html">
					<figure><img src="images/img-fake-noticia.png"></figure>
					<div class="info">
						<div class="entry-meta">
							<span class="data">29.11.2011 </span>
							<span class="horario">14h34</span>
							<span class="autor">EDITORIA</span>
						</div>
						<p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit Aenean...</p>
					</div>
				</a>
			</div>
			<div class="item col-md-4 pull-left">
				<a href="noticia.html">
					<figure><img src="images/img-fake-noticia.png"></figure>
					<div class="info">
						<div class="entry-meta">
							<span class="data">29.11.2011 </span>
							<span class="horario">14h34</span>
							<span class="autor">EDITORIA</span>
						</div>
						<p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit Aenean...</p>
					</div>
				</a>
			</div>
			<div class="item col-md-4 pull-left">
				<a href="noticia.html">
					<figure><img src="images/img-fake-noticia.png"></figure>
					<div class="info">
						<div class="entry-meta">
							<span class="data">29.11.2011 </span>
							<span class="horario">14h34</span>
							<span class="autor">EDITORIA</span>
						</div>
						<p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit Aenean...</p>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>