<section class="beh-associadas ">
	<div class="col-md-12"><h2 class="subtitle-area"><span class="hidden-xs">Conheça nossas </span>associadas <a href="associadas.html" class="btn-mais pull-right"><span class="glyphicon glyphicon-plus-sign glyphicon-align-left "></span>mais</a></h2></div>
	<div class="itens">
		<div class="col-md-4 col-xs-12"><a href="associada.html" class="item"><img src="images/img-logo-abapa.jpg"></a></div>
		<div class="col-md-4 col-xs-12"><a href="associada.html" class="item"><img src="images/img-logo-apipa.jpg"></a></div>
		<div class="col-md-4 col-xs-12"><a href="associada.html" class="item"><img src="images/img-logo-agopa.jpg"></a></div>
	</div>
</section>