<div class="beh-projetosabas pull-left">
    <!-- CONTROLES DAS ABAS -->
    <ul class="nav nav-tabs nav-justified proj-abas">
        <li role="projetos" class="active"><a href="#em-andamento" data-toggle="tab">Projetos em andamento</a></li>
        <li role="projetos"><a href="#em-analise">Projetos em análise</a></li>
        <li role="projetos"><a href="#encerrados">Projetos encerrados</a></li>
        <li role="projetos"><a href="#cancelados">Projetos cancelados</a></li> 
    </ul>

    <!-- CONTEÚDO DAS ABAS -->
    <div class="tab-content">
        
        <!-- ABA 1 -->
        <div role="tabpanel" class="tab-pane active" id="em-andamento">
            <div class="beh-maisrecentes beh-maisrecentes-projetos">
                <div class="itens">
                    <div class="item">
                        <a href="projeto.html">
                            <h2 class="title-projeto">Projeto Mais Recente 1</h2>
                            <p class="description">Lorem ipsum dolor sit amet, dernis consectetur adipisci  ipsum do m dolor sit ameum dolor ngm dolor sit amet, dernis consectetur adipisci  ipsum dolor nglor ng...</p>
                            
                            <div class="dados-gerais">
                                <ul class="projeto-info">
                                    <li class="">
                                        <span class="name">Número do Projeto</span>
                                        <span class="number">10.024/2012</span>
                                    </li>

                                    <li class="">
                                        <span class="name">Situação</span>
                                        <span class="number">Em andamento</span>
                                    </li>

                                    <li class="">
                                        <span class="name">Proponente</span>
                                        <span class="number">ABRAPA- Associação Brasileira dos Produtores de Algodão</span>
                                    </li>
                                </ul>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="itens">
                    <div class="item">
                        <a href="projeto.html">
                            <h2 class="title-projeto">Lorem ipsum dolor sit amet, consectetur adipiscing elit amet, consectetur</h2>
                            <p class="description">Lorem ipsum dolor sit amet, dernis consectetur adipisci  ipsum do m dolor sit ameum dolor ngm dolor sit amet, dernis consectetur adipisci  ipsum dolor nglor ng...</p>
                            
                            <div class="dados-gerais">
                                <ul class="projeto-info">
                                    <li class="">
                                        <span class="name">Número do Projeto</span>
                                        <span class="number">10.024/2012</span>
                                    </li>

                                    <li class="">
                                        <span class="name">Situação</span>
                                        <span class="number">Em andamento</span>
                                    </li>

                                    <li class="">
                                        <span class="name">Proponente</span>
                                        <span class="number">ABRAPA- Associação Brasileira dos Produtores de Algodão</span>
                                    </li>
                                </ul>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="itens">
                    <div class="item">
                        <a href="projeto.html">
                            <h2 class="title-projeto">Lorem ipsum dolor sit amet, consectetur adipiscing elit amet, consectetur</h2>
                            <p class="description">Lorem ipsum dolor sit amet, dernis consectetur adipisci  ipsum do m dolor sit ameum dolor ngm dolor sit amet, dernis consectetur adipisci  ipsum dolor nglor ng...</p>
                            
                            <div class="dados-gerais">
                                <ul class="projeto-info">
                                    <li class="">
                                        <span class="name">Número do Projeto</span>
                                        <span class="number">10.024/2012</span>
                                    </li>

                                    <li class="">
                                        <span class="name">Situação</span>
                                        <span class="number">Em andamento</span>
                                    </li>

                                    <li class="">
                                        <span class="name">Proponente</span>
                                        <span class="number">ABRAPA- Associação Brasileira dos Produtores de Algodão</span>
                                    </li>
                                </ul>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="itens">
                    <div class="item">
                        <a href="projeto.html">
                            <h2 class="title-projeto">Lorem ipsum dolor sit amet, consectetur adipiscing elit amet, consectetur</h2>
                            <p class="description">Lorem ipsum dolor sit amet, dernis consectetur adipisci  ipsum do m dolor sit ameum dolor ngm dolor sit amet, dernis consectetur adipisci  ipsum dolor nglor ng...</p>
                            
                            <div class="dados-gerais">
                                <ul class="projeto-info">
                                    <li class="">
                                        <span class="name">Número do Projeto</span>
                                        <span class="number">10.024/2012</span>
                                    </li>

                                    <li class="">
                                        <span class="name">Situação</span>
                                        <span class="number">Em andamento</span>
                                    </li>

                                    <li class="">
                                        <span class="name">Proponente</span>
                                        <span class="number">ABRAPA- Associação Brasileira dos Produtores de Algodão</span>
                                    </li>
                                </ul>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="btn-moreresults"><button type="submit">Exibir mais resultados</button></div>
        </div>

        <!-- ABA 2 -->
        <div role="tabpanel" class="tab-pane" id="em-analise">
            <div class="beh-maisrecentes beh-maisrecentes-projetos">
                <div class="itens">
                    <div class="item">
                        <a href="projeto.html">
                            <h2 class="title-projeto">Projeto Em Análise 1</h2>
                            <p class="description">Lorem ipsum dolor sit amet, dernis consectetur adipisci  ipsum do m dolor sit ameum dolor ngm dolor sit amet, dernis consectetur adipisci  ipsum dolor nglor ng...</p>
                            
                            <div class="dados-gerais">
                                <ul class="projeto-info">
                                    <li class="">
                                        <span class="name">Número do Projeto</span>
                                        <span class="number">10.024/2012</span>
                                    </li>

                                    <li class="">
                                        <span class="name">Situação</span>
                                        <span class="number">Em andamento</span>
                                    </li>

                                    <li class="">
                                        <span class="name">Proponente</span>
                                        <span class="number">ABRAPA- Associação Brasileira dos Produtores de Algodão</span>
                                    </li>
                                </ul>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="itens">
                    <div class="item">
                        <a href="projeto.html">
                            <h2 class="title-projeto">Lorem ipsum dolor sit amet, consectetur adipiscing elit amet, consectetur</h2>
                            <p class="description">Lorem ipsum dolor sit amet, dernis consectetur adipisci  ipsum do m dolor sit ameum dolor ngm dolor sit amet, dernis consectetur adipisci  ipsum dolor nglor ng...</p>
                            
                            <div class="dados-gerais">
                                <ul class="projeto-info">
                                    <li class="">
                                        <span class="name">Número do Projeto</span>
                                        <span class="number">10.024/2012</span>
                                    </li>

                                    <li class="">
                                        <span class="name">Situação</span>
                                        <span class="number">Em andamento</span>
                                    </li>

                                    <li class="">
                                        <span class="name">Proponente</span>
                                        <span class="number">ABRAPA- Associação Brasileira dos Produtores de Algodão</span>
                                    </li>
                                </ul>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="itens">
                    <div class="item">
                        <a href="projeto.html">
                            <h2 class="title-projeto">Lorem ipsum dolor sit amet, consectetur adipiscing elit amet, consectetur</h2>
                            <p class="description">Lorem ipsum dolor sit amet, dernis consectetur adipisci  ipsum do m dolor sit ameum dolor ngm dolor sit amet, dernis consectetur adipisci  ipsum dolor nglor ng...</p>
                            
                            <div class="dados-gerais">
                                <ul class="projeto-info">
                                    <li class="">
                                        <span class="name">Número do Projeto</span>
                                        <span class="number">10.024/2012</span>
                                    </li>

                                    <li class="">
                                        <span class="name">Situação</span>
                                        <span class="number">Em andamento</span>
                                    </li>

                                    <li class="">
                                        <span class="name">Proponente</span>
                                        <span class="number">ABRAPA- Associação Brasileira dos Produtores de Algodão</span>
                                    </li>
                                </ul>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="itens">
                    <div class="item">
                        <a href="projeto.html">
                            <h2 class="title-projeto">Lorem ipsum dolor sit amet, consectetur adipiscing elit amet, consectetur</h2>
                            <p class="description">Lorem ipsum dolor sit amet, dernis consectetur adipisci  ipsum do m dolor sit ameum dolor ngm dolor sit amet, dernis consectetur adipisci  ipsum dolor nglor ng...</p>
                            
                            <div class="dados-gerais">
                                <ul class="projeto-info">
                                    <li class="">
                                        <span class="name">Número do Projeto</span>
                                        <span class="number">10.024/2012</span>
                                    </li>

                                    <li class="">
                                        <span class="name">Situação</span>
                                        <span class="number">Em andamento</span>
                                    </li>

                                    <li class="">
                                        <span class="name">Proponente</span>
                                        <span class="number">ABRAPA- Associação Brasileira dos Produtores de Algodão</span>
                                    </li>
                                </ul>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="btn-moreresults"><button type="submit">Exibir mais resultados</button></div>
        </div>

        <!-- ABA 3 -->
        <div role="tabpanel" class="tab-pane" id="encerrados">
            <div class="beh-maisrecentes beh-maisrecentes-projetos">
                <div class="itens">
                    <div class="item">
                        <a href="projeto.html">
                            <h2 class="title-projeto">Projeto Encerrado 1</h2>
                            <p class="description">Lorem ipsum dolor sit amet, dernis consectetur adipisci  ipsum do m dolor sit ameum dolor ngm dolor sit amet, dernis consectetur adipisci  ipsum dolor nglor ng...</p>
                            
                            <div class="dados-gerais">
                                <ul class="projeto-info">
                                    <li class="">
                                        <span class="name">Número do Projeto</span>
                                        <span class="number">10.024/2012</span>
                                    </li>

                                    <li class="">
                                        <span class="name">Situação</span>
                                        <span class="number">Em andamento</span>
                                    </li>

                                    <li class="">
                                        <span class="name">Proponente</span>
                                        <span class="number">ABRAPA- Associação Brasileira dos Produtores de Algodão</span>
                                    </li>
                                </ul>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="itens">
                    <div class="item">
                        <a href="projeto.html">
                            <h2 class="title-projeto">Lorem ipsum dolor sit amet, consectetur adipiscing elit amet, consectetur</h2>
                            <p class="description">Lorem ipsum dolor sit amet, dernis consectetur adipisci  ipsum do m dolor sit ameum dolor ngm dolor sit amet, dernis consectetur adipisci  ipsum dolor nglor ng...</p>
                            
                            <div class="dados-gerais">
                                <ul class="projeto-info">
                                    <li class="">
                                        <span class="name">Número do Projeto</span>
                                        <span class="number">10.024/2012</span>
                                    </li>

                                    <li class="">
                                        <span class="name">Situação</span>
                                        <span class="number">Em andamento</span>
                                    </li>

                                    <li class="">
                                        <span class="name">Proponente</span>
                                        <span class="number">ABRAPA- Associação Brasileira dos Produtores de Algodão</span>
                                    </li>
                                </ul>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="itens">
                    <div class="item">
                        <a href="projeto.html">
                            <h2 class="title-projeto">Lorem ipsum dolor sit amet, consectetur adipiscing elit amet, consectetur</h2>
                            <p class="description">Lorem ipsum dolor sit amet, dernis consectetur adipisci  ipsum do m dolor sit ameum dolor ngm dolor sit amet, dernis consectetur adipisci  ipsum dolor nglor ng...</p>
                            
                            <div class="dados-gerais">
                                <ul class="projeto-info">
                                    <li class="">
                                        <span class="name">Número do Projeto</span>
                                        <span class="number">10.024/2012</span>
                                    </li>

                                    <li class="">
                                        <span class="name">Situação</span>
                                        <span class="number">Em andamento</span>
                                    </li>

                                    <li class="">
                                        <span class="name">Proponente</span>
                                        <span class="number">ABRAPA- Associação Brasileira dos Produtores de Algodão</span>
                                    </li>
                                </ul>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="itens">
                    <div class="item">
                        <a href="projeto.html">
                            <h2 class="title-projeto">Lorem ipsum dolor sit amet, consectetur adipiscing elit amet, consectetur</h2>
                            <p class="description">Lorem ipsum dolor sit amet, dernis consectetur adipisci  ipsum do m dolor sit ameum dolor ngm dolor sit amet, dernis consectetur adipisci  ipsum dolor nglor ng...</p>
                            
                            <div class="dados-gerais">
                                <ul class="projeto-info">
                                    <li class="">
                                        <span class="name">Número do Projeto</span>
                                        <span class="number">10.024/2012</span>
                                    </li>

                                    <li class="">
                                        <span class="name">Situação</span>
                                        <span class="number">Em andamento</span>
                                    </li>

                                    <li class="">
                                        <span class="name">Proponente</span>
                                        <span class="number">ABRAPA- Associação Brasileira dos Produtores de Algodão</span>
                                    </li>
                                </ul>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="btn-moreresults"><button type="submit">Exibir mais resultados</button></div>
        </div>

        <!-- ABA 4 -->
        <div role="tabpanel" class="tab-pane" id="cancelados">
            <div class="beh-maisrecentes beh-maisrecentes-projetos">
                <div class="itens">
                    <div class="item">
                        <a href="projeto.html">
                            <h2 class="title-projeto">Projeto Cancelado 1</h2>
                            <p class="description">Lorem ipsum dolor sit amet, dernis consectetur adipisci  ipsum do m dolor sit ameum dolor ngm dolor sit amet, dernis consectetur adipisci  ipsum dolor nglor ng...</p>
                            
                            <div class="dados-gerais">
                                <ul class="projeto-info">
                                    <li class="">
                                        <span class="name">Número do Projeto</span>
                                        <span class="number">10.024/2012</span>
                                    </li>

                                    <li class="">
                                        <span class="name">Situação</span>
                                        <span class="number">Em andamento</span>
                                    </li>

                                    <li class="">
                                        <span class="name">Proponente</span>
                                        <span class="number">ABRAPA- Associação Brasileira dos Produtores de Algodão</span>
                                    </li>
                                </ul>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="itens">
                    <div class="item">
                        <a href="projeto.html">
                            <h2 class="title-projeto">Lorem ipsum dolor sit amet, consectetur adipiscing elit amet, consectetur</h2>
                            <p class="description">Lorem ipsum dolor sit amet, dernis consectetur adipisci  ipsum do m dolor sit ameum dolor ngm dolor sit amet, dernis consectetur adipisci  ipsum dolor nglor ng...</p>
                            
                            <div class="dados-gerais">
                                <ul class="projeto-info">
                                    <li class="">
                                        <span class="name">Número do Projeto</span>
                                        <span class="number">10.024/2012</span>
                                    </li>

                                    <li class="">
                                        <span class="name">Situação</span>
                                        <span class="number">Em andamento</span>
                                    </li>

                                    <li class="">
                                        <span class="name">Proponente</span>
                                        <span class="number">ABRAPA- Associação Brasileira dos Produtores de Algodão</span>
                                    </li>
                                </ul>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="itens">
                    <div class="item">
                        <a href="projeto.html">
                            <h2 class="title-projeto">Lorem ipsum dolor sit amet, consectetur adipiscing elit amet, consectetur</h2>
                            <p class="description">Lorem ipsum dolor sit amet, dernis consectetur adipisci  ipsum do m dolor sit ameum dolor ngm dolor sit amet, dernis consectetur adipisci  ipsum dolor nglor ng...</p>
                            
                            <div class="dados-gerais">
                                <ul class="projeto-info">
                                    <li class="">
                                        <span class="name">Número do Projeto</span>
                                        <span class="number">10.024/2012</span>
                                    </li>

                                    <li class="">
                                        <span class="name">Situação</span>
                                        <span class="number">Em andamento</span>
                                    </li>

                                    <li class="">
                                        <span class="name">Proponente</span>
                                        <span class="number">ABRAPA- Associação Brasileira dos Produtores de Algodão</span>
                                    </li>
                                </ul>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="itens">
                    <div class="item">
                        <a href="projeto.html">
                            <h2 class="title-projeto">Lorem ipsum dolor sit amet, consectetur adipiscing elit amet, consectetur</h2>
                            <p class="description">Lorem ipsum dolor sit amet, dernis consectetur adipisci  ipsum do m dolor sit ameum dolor ngm dolor sit amet, dernis consectetur adipisci  ipsum dolor nglor ng...</p>
                            
                            <div class="dados-gerais">
                                <ul class="projeto-info">
                                    <li class="">
                                        <span class="name">Número do Projeto</span>
                                        <span class="number">10.024/2012</span>
                                    </li>

                                    <li class="">
                                        <span class="name">Situação</span>
                                        <span class="number">Em andamento</span>
                                    </li>

                                    <li class="">
                                        <span class="name">Proponente</span>
                                        <span class="number">ABRAPA- Associação Brasileira dos Produtores de Algodão</span>
                                    </li>
                                </ul>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="btn-moreresults"><button type="submit">Exibir mais resultados</button></div>
        </div>

    </div> <!-- .tab-content -->
</div>