<section class="beh-navbar">
	<nav >
		<ul class="container uppercase">
			<li class="item-navbar item-projetos col-md-4 ">
				<a href="projetos.html"><span class="area">Projetos</span></a>
			</li>
			
			<div class="sub-navbar hidden-md hidden-lg">
				<ul class="container">
					<li class="col-md-3"><a href="projetos.html" class="active">Todos os projetos</a></li>
					<li class="col-md-3"><a href="projetos-numeros.html">Projetos em números</a></li>
					<li class="col-md-3"><a href="projeto-comocriar.html">Como criar um projeto</a></li>
					<li class="col-md-3"><a href="projeto-comogerenciar.html">Como gerenciar um projeto</a></li>
				</ul>
			</div>

			<li class="item-navbar item-noticias col-md-4 ">
				<a href="noticias.html"><span class="area">Notícias</span></a>
			</li>
			<li class="item-navbar item-biblioteca col-md-4 ">
				<a href="biblioteca.html"><span class="area">Biblioteca</span></a>
			</li>
		</ul>
		<div class="sub-navbar hidden-xs hidden-sm">
			<ul class="container">
				<li class="col-md-3"><a href="projetos.html" class="active">Todos os projetos</a></li>
				<li class="col-md-3"><a href="projetos-numeros.html">Projetos em números</a></li>
				<li class="col-md-3"><a href="projeto-comocriar.html">Como criar um projeto</a></li>
				<li class="col-md-3"><a href="projeto-comogerenciar.html">Como gerenciar um projeto</a></li>
			</ul>
		</div>
	</nav>
</section>
