<section class="beh-pointofview revealOnScroll">
    <div class="beh-principal delay-withdescription revealOnScroll">
        <div class="centered">
            <div class="product pull-left">
                <div class="image pull-right">
                    <a href="about.html">
                        <img src="images/img-point-of-view.jpg" id="img-beh-principal">
                    </a>
                </div>
                <div class="text-opening">
                    <h4 class="title uppercase col-md-4">
                        <div class="effect">
                            <div class="first-line">POINT</div> 
                            <div class="second-line">OF VIEW</div>
                        </div>
                    </h4>
                     <p class="description col-md-4">
                        A cada mês uma peça essencial, atemporal em quantidade limitada que mescla técnicas artesanais e tecnológicas.
                    </p>
                    <div class="line line-white"></div>
                    <span class="btn"><a href="about.html" class="btn-invert"></a></span>

                </div>
            </div>
        </div>
    </div>
</section>
