<section class="beh-formulariocontato">
	<form>
		<div class="col-md-6 col-xs-12 padding-right">
			<div class="line">
				<input type="text" placeholder="Seu nome">
			</div>
			<div class="line">
				<input type="email" placeholder="Seu e-mail">
			</div>
			<select>
				<option>Escolha um assunto</option>
			</select>
		</div>
		<div class="col-md-6 col-xs-12">
			<div class="line">
				<textarea class="form-textarea" placeholder="Digite aqui sua mensagem"></textarea>
			</div>
			<div class="line">
				<button type="submit">Enviar</button>
			</div>
		</div>
	</form>
</section>
