<section class="beh-projetoslocalizar">
	<h2 class="subtitle-area">Filtrar Busca</h2>
	<div class="filtros">
		<ul class="uppercase filtrar-busca">
			<a href="#">
				<li class="filtro-total">
					<span class="nome-filtro">Todos</span>
					<span class="valor-filtro">135</span>
				</li>
			</a>

			<a href="#">
				<li>
					<span class="nome-filtro">Projetos</span>
					<span class="valor-filtro">30</span>
				</li>
			</a>

			<a href="#">
				<li>
					<span class="nome-filtro">Notícias</span>
					<span class="valor-filtro">45</span>
				</li>
			</a>

			<a href="#">
				<li>
					<span class="nome-filtro">Documentos</span>
					<span class="valor-filtro">53</span>
				</li>
			</a>

			<a href="#">
				<li>
					<span class="nome-filtro">Institucional</span>
					<span class="valor-filtro">07</span>
				</li>	
			</a>
		</ul>
	</div>
</section>