<section class="beh-graficosatividades">
	<h2 class="title-comparativo">PROJETOS X ATIVIDADES</h2>
    <div class="item">
        <div class="info col-md-6 col-sm-12 col-xs-12">
            <div class="nome">Adoção de cultivares</div>
            <div class="valor">R$ 49.410.848,05</div>
        </div>
        <div class="percentual col-md-6 col-sm-12 col-xs-12">
            <div class="numero">28%</div>
            <div class="percentual-bar" style="width:28%"></div>
        </div>
    </div>  
    <div class="item">
        <div class="info col-md-6 col-sm-12 col-xs-12">
            <div class="nome">Aplicação de métodos para a melhoria dos serviços de gradação e classificação</div>
            <div class="valor">R$ 49.410.848,05</div>
        </div>
        <div class="percentual col-md-6 col-sm-12 col-xs-12">
            <div class="numero">45%</div>
            <div class="percentual-bar" style="width:45%"></div>
        </div>
    </div>  
    <div class="item">
        <div class="info col-md-6 col-sm-12 col-xs-12">
            <div class="nome">Aplicação de tecnologia para a melhoria da qualidade do algodão</div>
            <div class="valor">R$ 49.410.848,05</div>
        </div>
        <div class="percentual col-md-6 col-sm-12 col-xs-12">
            <div class="numero">18%</div>
            <div class="percentual-bar" style="width:18%"></div>
        </div>
    </div>  
    <div class="item">
        <div class="info col-md-6 col-sm-12 col-xs-12">
            <div class="nome">Compra e uso de bens de capital</div>
            <div class="valor">R$ 49.410.848,05</div>
        </div>
        <div class="percentual col-md-6 col-sm-12 col-xs-12">
            <div class="numero">28%</div>
            <div class="percentual-bar" style="width:28%"></div>
        </div>
    </div>  
    <div class="item">
        <div class="info col-md-6 col-sm-12 col-xs-12">
            <div class="nome">Controle, mitigação e erradicação de pragas e doenças</div>
            <div class="valor">R$ 49.410.848,05</div>
        </div>
        <div class="percentual col-md-6 col-sm-12 col-xs-12">
            <div class="numero">99%</div>
            <div class="percentual-bar" style="width:99%"></div>
        </div>
    </div>  
    <div class="item">
        <div class="info col-md-6 col-sm-12 col-xs-12">
            <div class="nome">Gestão e conservação de recursos naturais</div>
            <div class="valor">R$ 49.410.848,05</div>
        </div>
        <div class="percentual col-md-6 col-sm-12 col-xs-12">
            <div class="numero">65%</div>
            <div class="percentual-bar" style="width:65%"></div>
        </div>
    </div>  
    <div class="item">
        <div class="info col-md-6 col-sm-12 col-xs-12">
            <div class="nome">Serviços de extensão relacionados acima</div>
            <div class="valor">R$ 49.410.848,05</div>
        </div>
        <div class="percentual col-md-6 col-sm-12 col-xs-12">
            <div class="numero">38%</div>
            <div class="percentual-bar" style="width:38%"></div>
        </div>
    </div>  
    <div class="item">
        <div class="info col-md-6 col-sm-12 col-xs-12">
            <div class="nome">Treinamento e instrução de trabalhadores e empregadores</div>
            <div class="valor">R$ 49.410.848,05</div>
        </div>
        <div class="percentual col-md-6 col-sm-12 col-xs-12">
            <div class="numero">58%</div>
            <div class="percentual-bar" style="width:58%"></div>
        </div>
    </div>  
    <div class="item">
        <div class="info col-md-6 col-sm-12 col-xs-12">
            <div class="nome">Cooperação técnica</div>
            <div class="valor">R$ 49.410.848,05</div>
        </div>
        <div class="percentual col-md-6 col-sm-12 col-xs-12">
            <div class="numero">78%</div>
            <div class="percentual-bar" style="width:78%"></div>
        </div>
    </div>  
    <div class="item">
        <div class="info col-md-6 col-sm-12 col-xs-12">
            <div class="nome">Aplicação de métodos para a melhoria da qualidade do algodão</div>
            <div class="valor">R$ 49.410.848,05</div>
        </div>
        <div class="percentual col-md-6 col-sm-12 col-xs-12">
            <div class="numero">8%</div>
            <div class="percentual-bar" style="width:8%"></div>
        </div>
    </div>    
    <div class="item item-total">
        <div class="info col-md-6 col-sm-12 col-xs-12">
            <div class="nome">Total</div>
            <div class="valor">R$ 622.276.865,45</div>
        </div>
    </div>                    
</section>