<section class="beh-trendtcollections">
    <div class="testimonials">
        <div class="testimonial revealOnScroll">
            <div class="image pull-left col-md-7"><img src="images/img-trendtcollections-01.jpg"></div>
            <div class="box-text pull-left col-md-4">
                <div class="thintitle">
                    Trendt's collections its a new level of consumptions.
                </div>
                <div class="name">Mariana Marinho</div>
                <div class="cargo uppercase">SDMGMT</div>
            </div>
        </div>
        <div class="testimonial revealOnScroll">
            <div class="box-text pull-left col-md-5">
                <div class="type">Fabric </div>
                <div class="cargo uppercase">Knitinano</div>
            </div>
            <div class="pull-left col-md-3">
                <p class="description">
                    A cada mês uma peça essencial, atemporal em quantidade limitada que mescla técnicas artesanais e tecnológicas. A cada mês uma peça essencial, atemporal em quantidade limitada que mescla técnicas artesanais e tecnológicas. A cada mês uma peça essencial, atemporal em quantidade limitada que mescla técnicas artesanais e tecnológicas. 
                </p>
            </div>
            
        </div>
        <div class="testimonial revealOnScroll">
            <div class="image pull-right col-md-7"><img src="images/img-trendtcollections-02.jpg"></div>
            <div class="box-text pull-left col-md-5">
                <div class="thintitle">
                    Trendt's collections its a new level of consumptions.
                </div>
                <div class="name">Mariana Marinho</div>
                <div class="cargo uppercase">SDMGMT</div>
            </div>
        </div>
        <div class="testimonial revealOnScroll">
            <div class="box-text pull-left col-md-5">
                <div class="type">Technology</div>
                <div class="cargo uppercase">Biosoftness</div>
            </div>
            <div class="pull-left col-md-3">
                <p class="description">
                    A cada mês uma peça essencial, atemporal em quantidade limitada que mescla técnicas artesanais e tecnológicas. A cada mês uma peça essencial, atemporal em quantidade limitada que mescla técnicas artesanais e tecnológicas. A cada mês uma peça essencial, atemporal em quantidade limitada que mescla técnicas artesanais e tecnológicas. 
                </p>
            </div>
            
        </div>
    </div>
</section>