<section class="full-photo">
        <div class="widget widget-buy revealOnScroll">
            <h4 class="uppercase">Tribal <div>Neck Dress</div></h4>
            <div class="small-player">
                <div class="player"></div>
                <div class="image"><img src="images/img-videoplayer-product-01.png"></div>
            </div>
            <div class="description">
                <a href="#this"><span class="uppercase">Description</span></a>
            </div>

            <span class="btn uppercase"><a href="" class="btn-wanna">I wanna it</a></span>
            
            <div class="options">
                <div class="friends pull-left"><a href="#this">FRIEND’S OPINION?</a></div>
                <div class="size pull-left"><a href="#this">SIZE GUIDE</a></div>
                <div class="shipping pull-right"><a href="#this">SHIPPING & RETURNS</a></div>
            </div>
            
            <div class="concierge">
                <h6 class="uppercase">Concierge</h6>
                <p>For style or product advice, please contact or fashion adviser.</p>
                <span class="mail"><a href="mailto:concierge@trendt.co">concierge@trendt.co</a></span> |
                <span class="phone"><a href="">+55 11 3678.9809</a></span>
            </div>
        </div>
    
    <div class="photo-01a">
        <div class="image parallax-window" data-parallax="scroll" data-speed="0.4" data-position="0 0" data-image-src="images/img-full-photo-product-01a.jpg"></div>
    </div>
    <div class="photo-01b">
        <div class="image parallax-window" data-parallax="scroll" data-speed="0.4" data-position="0 0" data-image-src="images/img-full-photo-product-01b.jpg"></div>
    </div>
    <div class="photo-01c">
        <div class="image parallax-window" data-parallax="scroll" data-speed="0.4" data-position="0 0" data-image-src="images/img-full-photo-product-01c.jpg"></div>
    </div>
</section>