<section class="content fullscreen beh-producthome">
	<div class="products-list">
		<div id="product-01" class="product product-jan">
			<div class="product-image animation">
		        <div class="image">
		            <a href="product.html"><img src="images/img-home-01.jpg" id="img-home-01" class="img-product-home"></a>
		        </div>
		    </div>

			<div class="centered info-product">
				<div class="month uppercase"><span>Peça do Mês</span></div>
			    <h2 class="title uppercase">
			        <div class="splited-line splited-one">
			            <span class="splited-line__wrapper">THORN DRESS</span>
			        </div>
			    </h2>
			    <p class="description">
			        A cada mês uma peça essencial, atemporal em quantidade limitada que mescla técnicas artesanais e tecnológicas.
			    </p>
			    <span class="btn"><a href="product.html" class="btn-default btn-home"></a></span>
		    </div>
		</div>

		<div id="product-02" class="product product-feb">
			<div class="product-image">
		        <div class="image">
		            <a href="product.html"><img src="images/img-home-02.jpg"></a>
		        </div>
		    </div>

			<div class="centered col-md-4">
				<div class="month uppercase"><span>Peça do Mês</span></div>
			    <h2 class="title uppercase">
			        <div class="splited-line splited-one">
			            <span class="splited-line__wrapper">SCRAPE DRESS</span>
			        </div>
			    </h2>
			    <p class="description">
			        testeial, atemporal em quantidade limitada que mescla técnicas artesanais e tecnológicas.
			    </p>
			    <span class="btn"><a href="product.html" class="btn-default btn-home"></a></span>
		    </div>
		</div>

		<div id="product-03" class="product product-mar">
			<div class="product-image">
		        <div class="image">
		            <a href="product.html"><img src="images/img-home-03.jpg"></a>
		        </div>
		    </div>

		    <div class="centered col-md-4">
				<div class="month uppercase"><span>Peça do Mês</span></div>
			    <h2 class="title uppercase">
			        <div class="splited-line splited-one">
			            <span class="splited-line__wrapper">teste 3</span>
			        </div>
			    </h2>
			    <p class="description">
			         3 testeial, atemporal em quantidade limitada que mescla técnicas artesanais e tecnológicas.
			    </p>
			    <span class="btn"><a href="product.html" class="btn-default btn-home"></a></span>
		    </div>
		</div>

		<div id="product-04" class="product product-apr">
			<div class="product-image">
		        <div class="image">
		            <a href="product.html"><img src="images/img-home-04.jpg"></a>
		        </div>
		    </div>

			<div class="centered col-md-4">
				<div class="month uppercase"><span>Peça do Mês</span></div>
			    <h2 class="title uppercase">
			        <div class="splited-line splited-one">
			            <span class="splited-line__wrapper">teste 4</span>
			        </div>
			    </h2>
			    <p class="description">
			        4 testeial, atemporal em quantidade limitada que mescla técnicas artesanais e tecnológicas.
			    </p>
			    <span class="btn"><a href="product.html" class="btn-default btn-home"></a></span>
		    </div>
		</div>
	</div>

	<div class="navigation">
	    <ul class="nav products-navigation" id="products">
	        <li class="active"><a href="#product-01" class="selected">1</a></li>
	        <li class="active"><a href="#product-02">2</a></li>
	        <li class="active"><a href="#product-03">3</a></li>
	        <li class="active"><a href="#product-04">4</a></li>

	        <li class="disable"><a href="#this">5</a></li>
	        <li class="disable"><a href="#this">6</a></li>
	        <li class="disable"><a href="#this">7</a></li>
	        <li class="disable"><a href="#this">8</a></li>

	        <li class="disable"><a href="#this">9</a></li>
	        <li class="disable"><a href="#this">10</a></li>
	        <li class="disable"><a href="#this">11</a></li>
	        <li class="disable"><a href="#this">12</a></li>
	    </ul>
	</div>
</section>