<section class="beh-galleryphotos revealOnScroll">
    <div class="centered">
        <div class="navigation-photos"> 
            <div class="photo-numbers">
                <div class="active">0</div>
                <div class="total"></div>
                <div class="prev pull-left"><a href="#this">&lt;</a></div>
                <div class="next pull-right"><a href="#this">&gt;</a></div>
            </div>
        </div>
        <div class="info-about">
            <div class="text">
                <h5 class="uppercase">Multimundos</h5>
                <p>We make clothing unlike anything you’ve worn before. Soft and versatile, modern, cool, ageless and genderless. </p>
            </div>
        </div>

        <div class="photos-gallery">
            <div class="gallery js-flickity" data-flickity-options='{"prevNextButtons": false, "pageDots": false, "imagesLoaded": true}'>
                <div class="gallery-cell"><img src="images/img-all-photo-01a.png"></div>
                <div class="gallery-cell"><img src="images/img-all-photo-01b.png"></div>
                <div class="gallery-cell"><img src="images/img-all-photo-01a.png"></div>
                <div class="gallery-cell"><img src="images/img-all-photo-01b.png"></div>
                <div class="gallery-cell"><img src="images/img-all-photo-01a.png"></div>
                <div class="gallery-cell"><img src="images/img-all-photo-01b.png"></div>
                <div class="gallery-cell"><img src="images/img-all-photo-01a.png"></div>
                <div class="gallery-cell"><img src="images/img-all-photo-01b.png"></div>
                <div class="gallery-cell"><img src="images/img-all-photo-01a.png"></div>
                <div class="gallery-cell"><img src="images/img-all-photo-01b.png"></div>
                <div class="gallery-cell"><img src="images/img-all-photo-01a.png"></div>
                <div class="gallery-cell"><img src="images/img-all-photo-01b.png"></div>
            </div>
            
        </div>
    </div>
</section>