<section class="beh-projetoslocalizar">
	<h2 class="subtitle-area">Localizar Projeto</h2>
	<div class="filtros">
		<form action="projetos-busca.html">
		<div class="line">
			<input type="text" placeholder="Palavra, Proponente, Executora, Nº do projeto">
		</div>
		<div class="line pull-left">
			<div class="mes campo-margin pull-left">
				<select>
					<option>Mês</option>
				</select>
			</div>
			<div class="ano pull-left">
				<select>
					<option>Ano</option>
				</select>
			</div>
			<div class="intervalo pull-left">A</div>
			<div class="mes campo-margin pull-left">
				<select>
					<option>Mês</option>
				</select>
			</div>
			<div class="ano pull-left">
				<select>
					<option>Ano</option>
				</select>
			</div>
		</div>
		<div class="line">
			<label><input type="radio"> Data da reunião</label>
			<label><input type="radio"> Data da execução</label>
		</div>
		<div class="line">
			<select>
				<option>Todas as atividades</option>
			</select>
		</div>
		<div class="line">
			<select>
				<option>Todas as situações</option>
			</select>
		</div>
		<div class="line">
			<button type="submit">Localizar</button>
		</div>
		</form>
	</div>
</section>