<section class="beh-endereco">
	<h3 class="name">IBA<span>Instituto Brasileiro do Algodão</span></h3>
	<strong class="uppercase">Endereço</strong>
	<span>SHN Quadra 2, Bloco F, Salas 1421 a 1426</span>

	<strong class="uppercase">Edifício</strong>
	<span>Ed. Executive Office Tower</span>

	<strong class="uppercase">Cidade / UF</strong>
	<span>Brasília - DF</span>

	<strong class="uppercase">CEP</strong>
	<span>70.702-000</span>

	<strong class="uppercase">Telefone</strong>
	<span>+55 61 3022-8300</span>
</section>
