<section class="beh-projetoslocalizar">
	<h2 class="subtitle-area">Localizar Arquivos</h2>
	<div class="filtros">
		<form action="biblioteca-busca.html">
		<div class="line">
			<input type="text" placeholder="Palavra">
		</div>
		<div class="line pull-left">
			<div class="mes campo-margin pull-left">
				<select>
					<option>Mês</option>
				</select>
			</div>
			<div class="ano pull-left">
				<select>
					<option>Ano</option>
				</select>
			</div>
			<div class="intervalo pull-left">A</div>
			<div class="mes campo-margin pull-left">
				<select>
					<option>Mês</option>
				</select>
			</div>
			<div class="ano pull-left">
				<select>
					<option>Ano</option>
				</select>
			</div>
		</div>
		<div class="line">
			<select>
				<option>Todas os tipos</option>
			</select>
		</div>
		<div class="line">
			<select>
				<option>Todas as categorias</option>
			</select>
		</div>
		<div class="line">
			<select>
				<option>Todas as sub categorias</option>
			</select>
		</div>
		<div class="line">
			<button type="submit">Localizar</button>
		</div>
		</form>
	</div>
</section>