<section class="beh-topintern beh-loading">
    <div class="image parallax-window" data-parallax="scroll" data-speed="1.2" data-position="0 0" data-image-src="images/bkg-product-01.jpg"><img src="images/bkg-product-01.jpg" id="bkg-product"></div>
    <div class="special-month">
        <span class="month">Fevereiro</span>
        <span class="number">02</span>
    </div>
    <div class="text-opening">
    	<div class="opening beh-boxtext beh-loading">
        	<span class="type">Timeless</span>
            <h4 class="title uppercase">
                <div>BUY LESS,</div> 
                <div>CHOOSE WELL</div>
            </h4>
			<p class="first">We make clothing unlike anything you’ve worn before. Soft and versatile, modern, cool, ageless and genderless. Knitwear clothes, craftsman-quality finish, authoral shapes and details.</p>

			<p class="second">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip commodo.</p>

            <!--<div class="widget exclusive">
                <h5 class="uppercase">Exclusividade</h5>
                <p>We make clothing unlike anything you’ve worn before. Soft and versatile, modern, cool, ageless and genderless. </p>
                <div class="box-limited">
                    <span class="number">50</span>
                    <small>As peças são limitadas e numeradas à mão.</small>
                </div>
            </div>-->
        </div>
    </div>
</section>