<section class="beh-maisrecentes">
	<h2 class="subtitle-area">Mais recentes</h2>
	<div class="itens">
		<div class="item">
			<a href="">
				<figure><img src="images/img-destaquesbiblioteca-fake.png"></figure>
				<div class="info">
					<div class="entry-meta">
						<span class="data">29.11.2011 </span>
						<span class="horario">14h34</span>
						<div>
							<span class="autor pull-left">EDITORIA</span>
							<span class="outro">OUTRO SUBITEM DO DESTAQUE </span>
							<span class="outro">OUTRO SUBITEM DO DESTAQUE </span>
						</div>
					</div>
					<p class="description">Lorem ipsum dolor sit amet, dernis consectetur adipisci  ipsum do m dolor sit ameum dolor ngm dolor sit amet, dernis consectetur adipisci  ipsum dolor nglor ng...</p>
				</div>
			</a>
		</div>
		<div class="item">
			<a href="">
				<figure><img src="images/img-destaquesbiblioteca-fake.png"></figure>
				<div class="info">
					<div class="entry-meta">
						<span class="data">29.11.2011 </span>
						<span class="horario">14h34</span>
						<div>
							<span class="autor pull-left">EDITORIA</span>
							<span class="outro">OUTRO SUBITEM DO DESTAQUE </span>
						</div>
					</div>
					<p class="description">Lorem ipsum dolor sit amet, consecem ipsum dolor sit amet, consectetur adipiscing...</p>
				</div>
			</a>
		</div>
		<div class="item">
			<a href="">
				<figure><img src="images/img-destaquesbiblioteca-fake.png"></figure>
				<div class="info">
					<div class="entry-meta">
						<span class="data">29.11.2011 </span>
						<span class="horario">14h34</span>
						<div>
							<span class="autor pull-left">EDITORIA</span>
							<span class="outro">OUTRO SUBITEM DO DESTAQUE </span>
							<span class="outro">OUTRO SUBITEM DO DESTAQUE </span>
						</div>
					</div>
					<p class="description">Lorem ipsum dolor sit amet, dernis consectetur adipisci  ipsum do m dolor sit ameum dolor ngm dolor sit amet, dernis consectetur adipisci  ipsum dolor nglor ng...</p>
				</div>
			</a>
		</div>
		<div class="item">
			<a href="">
				<figure><img src="images/img-destaquesbiblioteca-fake.png"></figure>
				<div class="info">
					<div class="entry-meta">
						<span class="data">29.11.2011 </span>
						<span class="horario">14h34</span>
						<div>
							<span class="autor pull-left">EDITORIA</span>
							<span class="outro">OUTRO SUBITEM DO DESTAQUE </span>
							<span class="outro">OUTRO SUBITEM DO DESTAQUE </span>
						</div>
					</div>
					<p class="description">Lorem ipsum dolor sit amet, consecem ipsum dolor sit amet, consectetur adipiscing...</p>
				</div>
			</a>
		</div>
		<div class="item">
			<a href="">
				<figure><img src="images/img-destaquesbiblioteca-fake.png"></figure>
				<div class="info">
					<div class="entry-meta">
						<span class="data">29.11.2011 </span>
						<span class="horario">14h34</span>
						<div>
							<span class="autor pull-left">EDITORIA</span>
							<span class="outro">OUTRO SUBITEM DO DESTAQUE </span>
						</div>
					</div>
					<p class="description">Lorem ipsum dolor sit amet, dernis consectetur adipisci  ipsum do m dolor sit ameum dolor ngm dolor sit amet, dernis consectetur adipisci  ipsum dolor nglor ng...</p>
				</div>
			</a>
		</div>
		<div class="item">
			<a href="">
				<figure><img src="images/img-destaquesbiblioteca-fake.png"></figure>
				<div class="info">
					<div class="entry-meta">
						<span class="data">29.11.2011 </span>
						<span class="horario">14h34</span>
						<div>
							<span class="autor pull-left">EDITORIA</span>
							<span class="outro">OUTRO SUBITEM DO DESTAQUE </span>
						</div>
					</div>
					<p class="description">Lorem ipsum dolor sit amet, consecem ipsum dolor sit amet, consectetur adipiscing...</p>
				</div>
			</a>
		</div>
	</div>
</section>
