<section class="beh-whatwebelieve revealOnScroll">
    <div class="centered">
        <div class="thintitle">
            <div>We believe that the world and our brainds are still far from </div>
            <div>being explored to their potencials.</div>
        </div>

        <div class="box-text">
            <p class="description pull-left col-md-5">
                A cada mês uma peça essencial, atemporal em quantidade limitada que mescla técnicas artesanais e tecnológicas.A cada mês uma peça essencial, atemporal em quantidade limitada que mescla técnicas artesanais e tecnológicas.A cada mês uma peça essencial, atemporal em quantidade limitada que mescla técnicas artesanais e tecnológicas.
            </p>
            <div class="image col-md-6 pull-right"><img src="images/img-whatwebelieve.jpg"></div>
        </div>


    </div>
</section>