<section class="beh-projetosdestaques">
	<h2 class="subtitle-area">Projetos em destaque <a href="" class="btn-mais pull-right"><span class="glyphicon glyphicon-plus-sign glyphicon-align-left "></span>mais</a></h2>
	<div class="col-md-6 col-xs-12 padding-right">
		<div class="projeto">
			<a href="projeto.html">
				<h3 class="subtitle-conteudo">Lorem ipsum dolor sit amet, consectetur adipiscing elit amet, consectetur adipiscing elit.</h3>
				<p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit um dolor sit amet, consectetur adipiscing elit.</p>
				<ul class="projeto-info">
					<li class="">
						<span class="name">Número do Projeto</span>
						<span class="number">10.024/2012</span>
					</li>
					<li class="">
						<span class="name">Situação</span>
						<span class="number">Em andamento</span>
					</li>
					<li class="">
						<span class="name">Período de Execução</span>
						<span class="number">Agosto a Novembro de 2011</span>
					</li>
					<li class="">
						<span class="name">Proponente</span>
						<span class="number">ABRAPA- Associação Brasileira dos Produtores de Algodão</span>
					</li>
					<li class="">
						<span class="name">Executora</span>
						<span class="number">IBA - Instituto Brasileiro de Algodão</span>
					</li>
				</ul>
			</a>
		</div>
	</div>
	<div class="col-md-6 col-xs-12 padding-left">
		<div class="projeto">
			<a href="projeto.html">
				<h3 class="subtitle-conteudo">Lorem ipsum dolor sit amet, consectetur adipiscing elit amet, consectetur adipiscing elit.</h3>
				<p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit um dolor sit amet, consectetur adipiscing elit.</p>
				<ul class="projeto-info">
					<li class="">
						<span class="name">Número do Projeto</span>
						<span class="number">10.024/2012</span>
					</li>
					<li class="">
						<span class="name">Situação</span>
						<span class="number">Em andamento</span>
					</li>
					<li class="">
						<span class="name">Período de Execução</span>
						<span class="number">Agosto a Novembro de 2011</span>
					</li>
					<li class="">
						<span class="name">Proponente</span>
						<span class="number">ABRAPA- Associação Brasileira dos Produtores de Algodão</span>
					</li>
					<li class="">
						<span class="name">Executora</span>
						<span class="number">IBA - Instituto Brasileiro de Algodão</span>
					</li>
				</ul>
			</a>
		</div>
	</div>
</section>
