<section class="beh-noticiasdestaques col-md-8 col-xs-12">
	<h2 class="subtitle-area">Notícias em destaque <a href="noticias.html" class="btn-mais invert pull-right"><span class="glyphicon glyphicon-plus-sign glyphicon-align-left "></span>mais</a></h2>
	<div class="col-md-6 col-xs-12 padding-right">
		<div class="noticia noticia-grande">
			<a href="noticia.html">
				<figure><img src="images/img-fake-noticia.png"></figure>
				<div class="info">
					<div class="entry-meta">
						<span class="data">29.11.2011 </span>
						<span class="horario">14h34</span>
						<span class="autor">EDITORIA</span>
					</div>
					<p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et 
					viverra justo com...</p>
				</div>
			</a>
		</div>
	</div>
	<div class="col-md-6 col-xs-12 padding-left pull-right">
		<div class="noticia noticia-comum">
			<a href="noticia.html">
				<figure><img src="images/img-fake-noticia-p.png"></figure>
				<div class="info">
					<div class="entry-meta">
						<span class="data">29.11.2011 </span>
						<span class="horario">14h34</span>
						<span class="autor">EDITORIA</span>
					</div>
					<p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
				</div>
			</a>
		</div>
		<div class="noticia noticia-comum">
			<a href="noticia.html">
				<figure><img src="images/img-fake-noticia-p.png"></figure>
				<div class="info">
					<div class="entry-meta">
						<span class="data">29.11.2011 </span>
						<span class="horario">14h34</span>
						<span class="autor">EDITORIA</span>
					</div>
					<p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
				</div>
			</a>
		</div>
		<div class="noticia noticia-comum">
			<a href="noticia.html">
				<figure><img src="images/img-fake-noticia-p.png"></figure>
				<div class="info">
					<div class="entry-meta">
						<span class="data">29.11.2011 </span>
						<span class="horario">14h34</span>
						<span class="autor">EDITORIA</span>
					</div>

					<p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
				</div>
			</a>
		</div>
	</div>
</section>
