<section class="beh-projetovalores">
	<h2 class="subtitle-area">Valor contratado</h2>
	<ul class="itens">
		<li class="item">
			<div class="nome">ABAPA</div>
			<div class="valor">R$ 49.410.848,05</div>
		</li>
		<li class="item">
			<div class="nome">ABRAPA</div>
			<div class="valor">R$ 61.216.596,38</div>
		</li>
		<li class="item">
			<div class="nome">ACOPAR</div>
			<div class="valor">R$ 3.713.813,75</div>
		</li>
		<li class="item">
			<div class="nome">AGOPA</div>
			<div class="valor">R$ 39.836.885,93</div>
		</li>
		<li class="item">
			<div class="nome">AMAPA</div>
			<div class="valor">R$ 5.935.174,04</div>
		</li>
		<li class="item">
			<div class="nome">AMIPA</div>
			<div class="valor">R$ 18.598.404,17</div>
		</li>
		<li class="item">
			<div class="nome">AMPA</div>
			<div class="valor">R$ 330.210.621,78</div>
		</li>
		<li class="item">
			<div class="nome">AMPASUL</div>
			<div class="valor">R$ 22.506.284,13</div>
		</li>
		<li class="item">
			<div class="nome">APIPA</div>
			<div class="valor">R$ 3.086.796,09</div>
		</li>
		<li class="item">
			<div class="nome">APPA</div>
			<div class="valor">R$ 7.841.277,98</div>
		</li>
		<li class="item">
			<div class="nome">IBA</div>
			<div class="valor">R$ 84.657,55</div>
		</li>
		<li class="item">
			<div class="nome">MRE</div>
			<div class="valor">R$ 79.835.505</div>
		</li>
		<li class="item item-total">
			<div class="nome">TOTAL</div>
			<div class="valor">R$ 622.410.848,05</div>
		</li>

	</ul>
</section>