<section class="beh-destaquesbiblioteca padding-bottom-xs pull-left">
	<h2 class="subtitle-area"><span class="hidden-xs">Destaques da </span>Biblioteca <a href="biblioteca.html" class="btn-mais pull-right"><span class="glyphicon glyphicon-plus-sign glyphicon-align-left "></span>mais</a></h2>
	<div class="itens">
		<div class="item">
			<a href="arquivo.html">
				<figure><img src="images/img-destaquesbiblioteca-fake.png"></figure>
				<div class="info">
					<div class="entry-meta">
						<span class="autor">EDITORIA</span>
						<span class="autor">EDITORIA</span>
						<span class="autor">EDITORIA</span>
					</div>
					<p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing...</p>
				</div>
			</a>
		</div>
		<div class="item">
			<a href="arquivo.html">
				<figure><img src="images/img-destaquesbiblioteca-fake.png"></figure>
				<div class="info">
					<div class="entry-meta">
						<span class="autor">EDITORIA</span>
						<span class="autor">EDITORIA</span>
					</div>
					<p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing...</p>
				</div>
			</a>
		</div>
	</div>
</section>
