<section class="beh-othermonths fullscreen">
	<div class="beh-principal delay-default content revealOnScroll">
		<div class="centered">
		    <div class="product col-md-5 pull-left">
		    	<div class="special-month">
		    		<span class="month">janeiro</span>
		    		<span class="number">01</span>
		    	</div>
		        
	    		<div class="image pull-right col-md-10">
		            <a href="product.html">
		            	<img src="images/img-other-months-product-01.png" class="img-product-home">
		            </a>
		        </div>
		        <div class="title uppercase">
	            	<div class="first-line">TREND T</div> 
                    <div class="second-line">OF THE MONTH</div>
	            </div>
		        <div class="line line-black"></div>
		        <span class="btn"><a href="product.html" class="btn-default"></a></span>
		    </div>
		    <div class="product col-md-5 pull-right">
		    	<div class="special-month">
		    		<span class="month">Fevereiro</span>
		    		<span class="number">02</span>
		    	</div>
		        
	    		<div class="image pull-right col-md-10">
		            <a href="product.html">
		            	<img src="images/img-other-months-product-01-1.jpg" class="img-product-home">
		            </a>
		        </div>
		        <div class="title uppercase">
	            	<div class="first-line">TREND T</div> 
                    <div class="second-line">OF THE MONTH</div>
		        </div>
		        <div class="line line-black"></div>
		        <span class="btn"><a href="product.html" class="btn-default"></a></span>
		    </div>
		</div>
	</div>
</section>