<section class="beh-destaquesinstitucionais">
	<h2 class="subtitle-area">Destaques Institucionais</h2>
	<div class="destaques">
		<div class="item">
			<a href="oquefazemos.html">
				<figure><img src="images/icon-oquefazemos.png"></figure>
				<h3 class="subtitle-destaquesinstitucionais">Você sabe o que o IBA faz?</h3>
			</a>
		</div>
		<div class="item">
			<a href="nossahistoria.html">
				<figure><img src="images/icon-historia.png"></figure>
				<h3 class="subtitle-destaquesinstitucionais">Conheça a História do IBA</h3>
			</a>
		</div>
		<div class="item">
			<a href="quemequem.html">
				<figure><img src="images/icon-quemequem.png"></figure>
				<h3 class="subtitle-destaquesinstitucionais">Saiba quem é quem no IBA</h3>
			</a>
		</div>
		<div class="item">
			<a href="faleconosco.html">
				<figure><img src="images/icon-faleconosco.png"></figure>
				<h3 class="subtitle-destaquesinstitucionais">Entre em contato com o IBA</h3>
			</a>
		</div>
	</div>
</section>
