<section class="beh-arquivosanexos">
	<h2 class="subtitle-area">Arquivos Anexos</h2>
	<div class="itens">
		<div class="item">
			<a href="arquivo.html">
				<figure><img src="images/icon-pdf.png"></figure>
				<div class="info">
					<div class="entry-meta">
						<span class="data">29.11.2011 </span>
						<span class="horario">14h34</span>
						<span class="autor">EDITORIA</span>
						<span class="outro">OUTRO SUBITEM DO DESTAQUE </span>
					</div>
					<p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet ipsum Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet ipsum Lorem ipsum dolor sit amet, consectetur a</p>
				</div>
			</a>
		</div>
		<div class="item">
			<a href="">
				<figure><img src="images/icon-doc.png"></figure>
				<div class="info">
					<div class="entry-meta">
						<span class="data">29.11.2011 </span>
						<span class="horario">14h34</span>
						<span class="autor">EDITORIA</span>
						<span class="outro">OUTRO SUBITEM DO DESTAQUE </span>
					</div>
					<p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet ipsum Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet ipsum Lorem ipsum dolor sit amet, consectetur a</p>
				</div>
			</a>
		</div>
	</div>
</section>