<footer class="footer">
	<section class="footer-img"></section>
	<div class="container">		
		<div class="footer-links">
			<nav class="footer-nav uppercase">		
				<div class="coluna-links col-md-3 col-sm-6 col-xs-6">
					<h3>Institucional</h3>
					<ul class="lista-links">
						<li><a href="oquefazemos.html">O que fazemos</a></li>
						<li><a href="nossahistoria.html">Nossa História</a></li>
						<li><a href="quemequem.html">Quem é quem</a></li>
						<li><a href="associadas.html">Associadas</a></li>
						<li><a href="faleconosco.html">Fale conosco</a></li>
					</ul>
				</div>

				<div class="coluna-links col-md-3 col-sm-6 col-xs-6">
					<a href="projetos.html"><h3>Projetos</h3></a>
					<ul class="lista-links">
						<li><a href="projetos.html">Todos os projetos</a></li>
						<li><a href="projetos-numeros.html">Projetos em números</a></li>
						<li><a href="projeto-comogerenciar.html">Como gerenciar</a></li>
						<li><a href="projeto-comocriar.html">Como criar</a></li>
						<li class="sip"><a href="sip.html">SIP</a></li>
					</ul>
				</div>

				<div class="coluna-links col-md-3">
					<a href="noticias.html"><h3>Notícias</h3></a>

					<a href="biblioteca.html"><h3>Biblioteca</h3></a>
					<ul class="lista-links">
						<li><a href="politicadedados.html">Política de dados</a></li>
						<li><a href="usoedireitoautoral.html">Licença de Uso e Direito Autoral</a></li>
					</ul>

					<div class="icons-sociais">
						<a href="#"><img src="images/icon-facebook.png" alt="Facebook"></a>
						<a href="#"><img src="images/icon-twitter.png" alt="Twitter"></a>
						<a href="#"><img src="images/icon-youtube.png" alt="YouTube"></a>
						<a href="#"><img src="images/icon-instagram.png" alt="Instagram"></a>
					</div>
				</div>
			</nav>

			<div class="coluna-links col-md-3">
				<h3 class="uppercase">Assine nossa newsletter</h3>

				<div class="form-newsletter">
					<input type="text" placeholder="Seu Nome"></input>
					<input type="email" placeholder="Seu e-mail"></input>
					<button type="submit">Enviar</button>
				</div>
			</div>
		</div>
	</div>
</footer>
