<header>
	<div id="brand" class="container">
		<a href="index.html"><img src="images/img-logo-iba.png" alt="Instituto Brasileiro do Algodão"></a>
	</div>
    <nav class="container hidden-xs hidden-sm">
    	<ul class="pull-right uppercase">
    		<li><a href="oquefazemos.html">O que fazemos?</a></li>
    		<li><a href="nossahistoria.html">Nossa História</a></li>
    		<li><a href="quemequem.html">Quem é Quem</a></li>
    		<li><a href="associadas.html">Associadas</a></li>
    		<li><a href="faleconosco.html">Fale Conosco</a></li>
    		<li class="sip"><a href="sip.html">SIP</a></li>
    		<li class="busca">
                <div class="form-wrap">
                    <input type="text" name="form-busca" id="form-busca" placeholder="Busca">
                    <span class="icone-busca"><img src="images/icon-busca.png" alt="Ícone Busca"></span>
                </div>
            </li>
    	</ul>
    </nav>
    
    <div class="menu-mobile col-md-8 hidden-lg hidden-md">
        <div class="container">
            <i class="material-icons open-menu">menu</i>
        </div>

        <nav class="nav-mobile uppercase">
            <ul>
                <li><a href="oquefazemos.html">O que fazemos?</a></li>
                <li><a href="nossahistoria.html">Nossa História</a></li>
                <li><a href="quemequem.html">Quem é Quem</a></li>
                <li><a href="associadas.html">Associadas</a></li>
                <li><a href="faleconosco.html">Fale Conosco</a></li>
                <li class="sip"><a href="sip.html">SIP</a></li>
                <li class="busca">
                    <div class="form-wrap">
                        <input type="text" name="form-busca" id="form-busca" placeholder="Busca">
                        <a href="busca.html"><span class="icone-busca"><img src="images/icon-busca-branco.png" alt="Ícone Busca"></span></a>
                    </div>
                </li>
            </ul>
        </nav>

        <div class="container">
            <i class="material-icons close-menu col-md-8">close</i>
        </div>
    </div>
</header>