<section class="more-details content">
    <div class="images first-col pull-left">
        <div class="image revealOnScroll">
            <img src="images/img-products-details-product-01.png">
        </div>
        <div class="image revealOnScroll">
            <img src="images/img-products-details-product-03.png">
        </div>
    </div>
    <div class="images second-col pull-right">
        <div class="image revealOnScroll">
            <img src="images/img-products-details-product-02.png">
        </div>
        <div class="text text-details beh-boxtext revealOnScroll">
            <span class="type">Timeless</span>
            <h4 class="uppercase">SOFT & VERSATILE</h4>
            <p class="first">We wondered how is to live without our desktop computer to design visuals nowadays; major part of collection is painted direct to our exclusive patented jersey burnout fabrics, finished with ultrasonic cuts that keeps an incredible soft touch forever, no stitched details since 2011 and pure black silk. </p>
        </div>
    </div>
</section>