<section class="other-months fullscreen">
	<div class="beh-principal delay-default content revealOnScroll">
		<div class="centered">
		    <div class="product col-md-5 pull-left">
		    	<div class="special-month">
		    		<span class="month">Fevereiro</span>
		    		<span class="number">02</span>
		    	</div>
		        
	    		<div class="image pull-right col-md-10">
		            <a href="about.html">
		            	<img src="images/img-other-months-product-01.png" class="img-product-home">
		            </a>
		        </div>
		        <div class="title uppercase">
		            <span class="effect">
		            	<div>TREND T</div>
		            	<div>OF THE MONTH</div>
		            </span>
		        </div>
		        <div class="line line-black"></div>
		        <span class="btn"><a href="about.html" class="btn-default"></a></span>
		    </div>
		    <div class="product col-md-5 pull-right">
		    	<div class="special-month">
		    		<span class="month">Fevereiro</span>
		    		<span class="number">02</span>
		    	</div>
		        
	    		<div class="image pull-right col-md-10">
		            <a href="about.html">
		            	<img src="images/img-other-months-product-01.png" class="img-product-home">
		            </a>
		        </div>
		        <div class="title uppercase">
		            <span class="effect">
		            	<div>TREND T</div>
		            	<div>OF THE MONTH</div>
		            </span>
		        </div>
		        <div class="line line-black"></div>
		        <span class="btn"><a href="about.html" class="btn-default"></a></span>
		    </div>
		</div>
	</div>
</section>