<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>IBA - Admin</title>

    <meta name="description" content="overview &amp; stats" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="assets/css/font-awesome.min.css" />

    <!--[if IE 7]>
      <link rel="stylesheet" href="assets/css/font-awesome-ie7.min.css" />
    <![endif]-->

    <!-- page specific plugin styles -->

    <link rel="stylesheet" href="assets/css/jquery-ui-1.10.3.custom.min.css" />
    <link rel="stylesheet" href="assets/css/chosen.css" />
    <link rel="stylesheet" href="assets/css/datepicker.css" />
    <link rel="stylesheet" href="assets/css/bootstrap-timepicker.css" />
    <link rel="stylesheet" href="assets/css/daterangepicker.css" />
    <link rel="stylesheet" href="assets/css/colorpicker.css" />

    <!-- fonts -->

    <link rel="stylesheet" href="assets/css/ace-fonts.css" />

    <!-- ace styles -->

    <link rel="stylesheet" href="assets/css/chosen.css" />
    <link rel="stylesheet" href="assets/css/datepicker.css" />
    <link rel="stylesheet" href="assets/css/bootstrap-timepicker.css" />
    <link rel="stylesheet" href="assets/css/daterangepicker.css" />
    <link rel="stylesheet" href="assets/css/colorpicker.css" />

    <link rel="stylesheet" href="assets/css/ace.min.css" />
    <link rel="stylesheet" href="assets/css/ace-rtl.min.css" />
    <link rel="stylesheet" href="assets/css/ace-skins.min.css" />

    <!-- Crop -->
    <link rel="stylesheet" href="assets/css/style-crop.css" type="text/css" />

  
    <link rel="stylesheet" href="assets/css/style-admin.css" />


    <!--[if lte IE 8]>
      <link rel="stylesheet" href="assets/css/ace-ie.min.css" />
    <![endif]-->

    <!-- inline styles related to this page -->

    <!-- ace settings handler -->

    <script src="{{asset('admin/assets/js/ace-extra.min.js')}}"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

    <!--[if lt IE 9]>
    <script src="{{asset('admin/assets/js/html5shiv.js')}}"></script>
    <script src="{{asset('admin/assets/js/respond.min.js')}}"></script>
    <![endif]-->
  </head>

  <body>
  
    <!-- BARRA TOPO -->
    <div class="navbar navbar-default" id="navbar">

      <div class="navbar-container" id="navbar-container">
        <div class="navbar-header pull-left">
          <a href="index.html" class="navbar-brand"><small>Soluções Integradas - Portal</small></a>
        </div>

        <div class="navbar-header pull-right" role="navigation">
          <ul class="nav ace-nav">
            <li class="grey">
              
              <!-- NOTIFICAÇÕES -->
              <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <i class="icon-bell icon-animated-bell"></i>
                <span class="badge badge-important">8</span>
              </a>

              
              <ul class="pull-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-close">
                <li class="dropdown-header"><i class="icon-warning-sign"></i>8 Notifications</li>

                <li>
                  <a href="#">
                    <div class="clearfix">
                      <span class="pull-left"><i class="btn btn-xs no-hover btn-pink icon-comment"></i>New Comments</span>
                      <span class="pull-right badge badge-info">+12</span>
                    </div>
                  </a>
                </li>

                <li>
                  <a href="#"><i class="btn btn-xs btn-primary icon-user"></i>Bob just signed up as an editor ...</a>
                </li>

                <li>
                  <a href="#">
                    <div class="clearfix">
                      <span class="pull-left"><i class="btn btn-xs no-hover btn-success icon-shopping-cart"></i>New Orders</span>
                      <span class="pull-right badge badge-success">+8</span>
                    </div>
                  </a>
                </li>

                <li>
                  <a href="#">
                    <div class="clearfix">
                      <span class="pull-left"><i class="btn btn-xs no-hover btn-info icon-twitter"></i>Followers</span>
                      <span class="pull-right badge badge-info">+11</span>
                    </div>
                  </a>
                </li>

                <li><a href="#">See all notifications<i class="icon-arrow-right"></i></a></li>
              </ul>
            </li>

            <li class="light-grey">
              <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <i class="icon-envelope icon-animated-vertical"></i>
                <span class="badge badge-important">5</span>
              </a>

              <ul class="pull-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
                  <li class="dropdown-header"><i class="icon-envelope-alt"></i>5 Messages</li>
                  <li>
                    <a href="#">
                      <img src="{{asset('admin/assets/avatars/avatar.png')}}" class="msg-photo" alt="Alex's Avatar" />
                      <span class="msg-body">
                        <span class="msg-title"><span class="blue">Alex:</span>Ciao sociis natoque penatibus et auctor ...</span>
                        <span class="msg-time"><i class="icon-time"></i><span>a moment ago</span></span>
                      </span>
                    </a>
                  </li>

                  <li>
                    <a href="#">
                      <img src="{{asset('admin/assets/avatars/avatar3.png')}}" class="msg-photo" alt="Susan's Avatar" />
                      <span class="msg-body">
                        <span class="msg-title"><span class="blue">Susan:</span>Vestibulum id ligula porta felis euismod ...</span>
                        <span class="msg-time"><i class="icon-time"></i><span>20 minutes ago</span></span>
                      </span>
                    </a>
                  </li>

                  <li>
                    <a href="#">
                      <img src="{{asset('admin/assets/avatars/avatar4.png')}}" class="msg-photo" alt="Bob's Avatar" />
                      <span class="msg-body">
                        <span class="msg-title"><span class="blue">Bob:</span>Nullam quis risus eget urna mollis ornare ...</span>
                        <span class="msg-time"><i class="icon-time"></i><span>3:15 pm</span></span>
                      </span>
                    </a>
                  </li>
                  <li><a href="inbox.html">See all messages<i class="icon-arrow-right"></i></a></li>
              </ul>
            </li>

            <li class="light-blue">
              <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                <img class="nav-user-photo" src="{{asset('admin/assets/avatars/user.jpg" alt="Jason's Photo" />
                <span class="user-info"><small>Bem vindo,</small>Fulano</span>
                <i class="icon-caret-down"></i>
              </a>

              <ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                <li><a href="#"><i class="icon-cog"></i>Settings</a></li>
                <li><a href="#"><i class="icon-user"></i>Profile</a></li>
                <li class="divider"></li>
                <li><a href="#"><i class="icon-off"></i>Logout </a></li>
              </ul>
            </li>
          </ul><!-- /.ace-nav -->
        </div><!-- /.navbar-header -->
      </div><!-- /.container -->
    </div>
    <!-- / BARRA TOPO -->









    <div class="main-container" id="main-container">

      <div class="main-container-inner">
        
        <!-- Ativa o menu mobile -->
        <a class="menu-toggler" id="menu-toggler" href="#"><span class="menu-text"></span></a>


        <!-- BARA DA LATERAL ESQUERDA -->
        <div class="sidebar" id="sidebar">

          <!-- Abas superiores -->
          <div class="sidebar-shortcuts" id="sidebar-shortcuts">

            <!-- Icones na aba-->
            <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">  
              <div class="abas abas-active"><i class="icon-globe"></i></div>
            </div>

            <!-- Icones na aba em mobile-->
            <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
              <span class="btn btn-success"></span>
              <span class="btn btn-info"></span>
              <span class="btn btn-warning"></span>
              <span class="btn btn-danger"></span>
            </div>
          </div>
          <!--/ Abas -->




          <!-- ############### Menu  ############### -->
          <ul class="nav nav-list menu-esquerdo">
            <li class=""><a href="_projetos.html"><i class="icon-dashboard"></i><span class="menu-text">Projetos</span></a></li>
            <li class=""><a href="_noticias.html"><i class="icon-dashboard"></i><span class="menu-text">Notícias</span></a></li>
            <li class="active"><a href="_objetos.html"><i class="icon-dashboard"></i><span class="menu-text">Objetos</span></a></li>
            <li class=""><a href="_secoes.html"><i class="icon-dashboard"></i><span class="menu-text">Seções</span></a></li>
            <li class=""><a href="_parceiros.html"><i class="icon-dashboard"></i><span class="menu-text">Parceiros</span></a></li>
            <li class=""><a href="_banners.html"><i class="icon-dashboard"></i><span class="menu-text">Banners</span></a></li>
            <li class=""><a href="_usuarios.html"><i class="icon-dashboard"></i><span class="menu-text">Usuários</span></a></li>
            <li class=""><a href="_tabelas-de-apoio.html"><i class="icon-dashboard"></i><span class="menu-text">Tabelas de apoio</span></a></li>
            <li class="inactive"><a href=""><i class="icon-dashboard"></i><span class="menu-text">Ajuda e suporte</span></a></li>
          </ul>
          <!-- / ############### Menu  ############### -->


        </div>
        <!-- / BARA DA LATERAL ESQUERDA -->
  





        <!-- LATERAL DIREITA -->
        <div class="main-content">

          <!-- breadcrumbs -->
          <div class="breadcrumbs" id="breadcrumbs">
            <ul class="breadcrumb">
              <li><i class="icon-home home-icon"></i> <a href="index.html">Portal</a></li>
              <li><a href="_objetos.html">Objetos</a></li>
              <li class="active">Novo objeto</li>
            </ul>
          </div>
          <!-- / breadcrumbs -->

  


  
          <!-- WRAP DOS DADOS -->
          <div class="wrap-content">     

            <form name="frm1" id="frm1" class="form-horizontal" role="form" method="post" action="objetos-novo-nivel2.html">

              <div class="col-xs-12 botoes-pj-pf">
                <a class="btn btn-sm font-size-14 margin-right-2 remover-item margin-right-20 margin-left-2"style="padding: 3px 10px 4px 10px;">Excluir objeto</a>
                <a href="_objetos.html"  class="btn cancelar btn-sm font-size-14 margin-right-2" style="padding: 3px 10px 4px 10px;">Cancelar</a>
                <button type="submit" class="btn btn-success salvar no-margin">Salvar</button>                
              </div>
              <br clear="all"/>
              <div class="tabbable">
                <ul class="nav nav-tabs" id="myTab">
                  <li class="active"><a data-toggle="tab" href="#aba-nivel1">Nível 1 - Descrição</a></li>
                  <li class=""><a data-toggle="tab" href="#tab-traducoes">Traduções</a></li>
                </ul>
              
                <div class="tab-content">
                 

                  <!-- Nivel 1 -->
                  <div id="aba-nivel1" class="tab-pane  margin-top-45  margin-bottom-45 active">
                    
                    <h3 class="header smaller lighter blue font-size-18 margin-bottom-25 margin-top-20" style="font-weight: 400;">
                      Permissões do objeto
                    </h3>

                    <div class="form-group fotm-tab">
                      <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Objeto público </label>
                      <div class="col-sm-9">

                        <div class="radio new-radio no-padding-left padding-top-2 margin-right-15">
                          <label>
                            <input name="publico" type="radio" class="ace" checked="checked">
                            <span class="lbl"><div>Sim</div></span>
                          </label>
                        </div>

                        <div class="radio2 new-radio padding-top-2">
                          <label>
                            <input name="publico" type="radio" class="ace">
                            <span class="lbl"><div>Não</div></span>
                          </label>
                        </div>
                      </div>
                    </div>     

                    <div class="form-group fotm-tab">
                      <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Permitir colaboração </label>
                      <div class="col-sm-9">

                        <div class="radio new-radio no-padding-left padding-top-2 margin-right-15">
                          <label>
                            <input name="colaboracao" type="radio" class="ace" >
                            <span class="lbl"><div>Sim</div></span>
                          </label>
                        </div>

                        <div class="radio2 new-radio padding-top-2">
                          <label>
                            <input name="colaboracao" type="radio" class="ace" checked="checked">
                            <span class="lbl"><div>Não</div></span>
                          </label>
                        </div>
                      </div>
                    </div>                         

                    <div class="form-group fotm-tab">
                      <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Permitir chancelamento </label>
                      <div class="col-sm-9">

                        <div class="radio new-radio no-padding-left padding-top-2 margin-right-15">
                          <label>
                            <input name="permitir_chancelamento" type="radio" class="ace" >
                            <span class="lbl"><div>Sim</div></span>
                          </label>
                        </div>

                        <div class="radio2 new-radio padding-top-2">
                          <label>
                            <input name="permitir_chancelamento" type="radio" class="ace" checked="checked">
                            <span class="lbl"><div>Não</div></span>
                          </label>
                        </div>
                      </div>
                    </div>   

                    <h3 class="header smaller lighter blue font-size-18 margin-bottom-25 margin-top-40" style="font-weight: 400;">
                      Dados gerais
                    </h3>

                    <div class="form-group fotm-tab margin-top-35">
                      <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Título * </label>
                      <div class="col-sm-9">
                        <input type="text" id="titulo" name="titulo" class="col-sm-12" required="true">
                      </div>
                    </div>  

                    <div class="form-group fotm-tab">
                      <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Resumo * </label>
                      <div class="col-sm-9">
                        <textarea name="resumo" id="resumo" class="form-control descricao-grupo" placeholder="" required="true"></textarea>
                      </div>
                    </div>

                    <div class="form-group fotm-tab">
                      <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Idioma * </label>
                      <div class="col-sm-3">
                        <select class="form-control col-sm-12" id="idioma" name="idioma"  required="true">
                          <option value="">Selecione</option>
                          <option value="PT">Português</option>
                          <option value="EN">Inlgês</option>
                          <option value="SP">Espanhol</option>
                          <option value="FR">Francês</option>
                        </select>
                      </div>
                    </div>  

                    <div class="form-group fotm-tab">
                      <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Tipo de material </label>
                      <div class="col-sm-3">
                        <select class="form-control col-sm-12" id="tipo-de-material" name="tipo-de-material">
                          <option value="">Selecione</option>
                        </select>
                      </div>
                    </div>  

                    <div class="form-group fotm-tab">
                      <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Tipo de mídia </label>
                      <div class="col-sm-3">
                        <select class="form-control col-sm-12" id="tipo-de-midia" name="tipo-de-midia">
                          <option value="">Selecione</option>
                        </select>
                      </div>
                    </div>  

                    <div class="form-group fotm-tab">
                      <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Arquivo * </label>
                      <div class="col-sm-6">
                        <div class="ace-file-input no-margin">
                          <input type="file" name="arquivo" id="arquivo" required="true" class="input-file" style="position: absolute;z-index: 1;opacity: 0;width: 100%; height: 29px;cursor: pointer;">
                          <label class="file-label" data-title="Localizar">
                            <span class="file-name" data-title="Sem arquivo"><i class="icon-upload-alt"></i></span>
                          </label>
                          <a class="remove" href="#"><i class="icon-remove"></i></a>
                        </div>
                      </div>
                    </div>

                    <div class="form-group fotm-tab">
                      <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Fonte do arquivo </label>
                      <div class="col-sm-6">
                        <input type="text" id="fonte_arquivo" name="fonte_arquivo" class="col-sm-12">
                      </div>
                    </div>  

                    <div class="form-group fotm-tab">
                      <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> ISSN do arquivo </label>
                      <div class="col-sm-3">
                        <input type="text" id="issn" name="issn" class="col-sm-12">
                      </div>
                    </div>  

                    <div class="form-group fotm-tab">
                      <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Licença de uso </label>
                      <div class="col-sm-6">
                        <select class="form-control col-sm-12" id="licenca-uso" name="licenca-uso">
                          <option value="">Selecione</option>
                        </select>
                      </div>
                    </div>

                    <div class="form-group fotm-tab">
                      <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Autor do objeto *</label>
                      <div class="col-sm-6" style="display: inline-flex;">
                        <select class="chosen-select col-sm-11" id="autor_obj" required="true" name="autor_obj" data-placeholder="Choose a Country..." style="width: 100%; display: none;">
                          <option value="">Selecione o autor</option>
                          <option value="autor1">Autor1</option>
                          <option value="autor2">Autor2</option>
                        </select>
                      </div>
                    </div>




                    <!--  -->


                    <div class="form-group fotm-tab">
                      <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Autor(es) do conhecimento </label>
                      <div class="col-sm-6">
                        <input type="text" id="autor_conhecimento" placeholder="" class="col-sm-12">
                      </div>
                      <div class="col-sm-1  no-padding-left">
                       <button class="btn btn-sm btn-primary col-sm-12 bnt-add" id="addAutor" style="padding: 3px 9px;margin-top: -1px;">+</button>
                      </div>                        
                    </div>

                    <div class="col-sm-12">
                      <div class="col-sm-3"></div>
                      <div class="col-sm-7 no-padding margin-bottom-10"><hr class="no-margin margin-bottom-15 no-padding" style="width:100.5%"></div>
                    </div>

                    <div class="form-group fotm-tab">
                      <div class="col-sm-3">
                        &nbsp;
                      </div>
                      <div class="col-sm-7">
                        <div class="tags col-sm-11 tags_conhecimento" style="width: 100% !important; min-height: 100px !important;">
                          
                        </div>
                      </div>                        
                    </div> 


                    <!--  -->

                    <div class="form-group fotm-tab">
                      <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Nível escolar </label>
                      <div class="col-sm-6">

                        <div class="checkbox no-padding margin-top-2 margin-bottom-10">
                          <label>
                            <input name="nivel-escolar[]" type="checkbox" class="ace" value="Fundamental">
                            <span class="lbl"> Fundamental</span>
                          </label>
                        </div>

                        <div class="checkbox no-padding margin-top-2 margin-bottom-10">
                          <label>
                            <input name="nivel-escolar[]" type="checkbox" class="ace" value="Básico">
                            <span class="lbl"> Básico</span>
                          </label>
                        </div>

                        <div class="checkbox no-padding margin-top-2 margin-bottom-10">
                          <label>
                            <input name="nivel-escolar[]" type="checkbox" class="ace" value="Médio">
                            <span class="lbl"> Médio</span>
                          </label>
                        </div>

                        <div class="checkbox no-padding margin-top-2 margin-bottom-10">
                          <label>
                            <input name="nivel-escolar[]" type="checkbox" class="ace" value="graduação">
                            <span class="lbl"> Graduação</span>
                          </label>
                        </div>

                        <div class="checkbox no-padding margin-top-2 margin-bottom-10">
                          <label>
                            <input name="nivel-escolar[]" type="checkbox" class="ace" value="Pós-graduação">
                            <span class="lbl"> Pós-graduação</span>
                          </label>
                        </div>

                      </div>
                    </div>      


                    <div class="form-group fotm-tab">
                      <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Área do conhecimento </label>
                      <div class="col-sm-6">
                        <div>
                          <select class="form-control col-sm-12 margin-top-10" id="conhecimento_linha" name="conhecimento_linha">
                            <option value="">Selecione a linha</option>
                          </select>          
                        </div>

                        <div>
                          <select class="form-control col-sm-12 margin-top-10" id="conhecimento_linha" name="conhecimento_linha">
                            <option value="">Selecione o tema</option>
                          </select>          
                        </div>

                        <div>
                          <select class="form-control col-sm-12 margin-top-10" id="conhecimento_linha" name="conhecimento_linha">
                            <option value="">Selecione o subtema</option>
                          </select>          
                        </div>

                      </div>
                    </div>


                    <!--  -->

                    <div class="form-group fotm-tab">
                      <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> TAGs </label>
                      <div class="col-sm-6">
                        <input type="text" id="tagsnew" placeholder="" class="col-sm-12">
                      </div>
                      <div class="col-sm-1  no-padding-left">
                       <button class="btn btn-sm btn-primary col-sm-12 bnt-add" id="addTags" style="padding: 3px 9px;margin-top: -1px;">+</button>
                      </div>                        
                    </div>

                    <div class="col-sm-12">
                      <div class="col-sm-3"></div>
                      <div class="col-sm-7 no-padding margin-bottom-10"><hr class="no-margin margin-bottom-15 no-padding" style="width:100.5%"></div>
                    </div>

                    <div class="form-group fotm-tab">
                      <div class="col-sm-3">
                        &nbsp;
                      </div>
                      <div class="col-sm-7">
                        <div class="tags col-sm-11 tagsnew" style="width: 100% !important; min-height: 100px !important;">
                          
                        </div>
                      </div>                        
                    </div>                     

                    <!--  -->



                    <h3 class="header smaller lighter blue font-size-18 margin-bottom-25 margin-top-40" style="font-weight: 400;">
                      Imagem de capa
                    </h3>

                    <div class="form-group fotm-tab margin-top-40">
                      <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Arquivo de imagem</label>
                      <div class="col-sm-9">
                        
                        <div>
                          <button type="button" class="btn btn-sm abrir-boxfile" style="padding-top: 2px; padding-bottom: 2px; font-size: 12px; outline: none !important;">Selecionar arquivo</button>                          
                          <input type="file" id="file" style="width:0px;height:0;">
                        </div>

                        <p class="dados-arquivo margin-top-20">Arquivo selecionado: <span style="font-weight: 700;color: #000;">nenhum arquivo selecionado</span></p>
                        
                        <!-- crop -->
                        <div class="col-sm-6 no-padding-left">
                          <div class="container-crop-parceiros">
                            <div class="imageBox">
                              <div class="thumbBox"></div>
                              <div class="spinner" style="display: none">Loading...</div>
                            </div>
                            <div class="action">
                              <input type="button" id="btnZoomOut" value="-">
                              <input type="button" id="btnZoomIn" value="+">
                            </div>
                            <!-- <div class="cropped"></div> -->
                          </div>
                        </div>

                        <div class="col-sm-6 align-right">
                          <input type="button" id="btnCrop" value="Incluir na galeria" class="btn btn-sm btn-success salvar pull-right" style="padding: 1px 10px; margin-top: -35px;">
                          <input type="button" id="btnCropCancelar" value="Cancelar" class="btn btn-sm salvar pull-right" style="padding: 1px 10px; margin: -35px 135px 0 0px;">
                        </div>  
                        <!-- / crop -->
                      </div>
                    </div>


                    <div class="form-group fotm-tab margin-top-40">
                      <label class="col-sm-3 control-label no-padding-right"> Galeria</label>
                      <div class="col-sm-9">
                        <div class="parceiros-galeria margin-top-10"><img src="{{asset('admin/assets/images/fundo-crop-parceiros.png')}}" alt=""></div>
                      </div>
                    </div>  

                  </div>
                  <!-- / Nivel 1 -->


                  <div id="tab-traducoes" class="tab-pane  margin-top-45  margin-bottom-45">


                    <h3 class="header smaller lighter blue font-size-18 margin-bottom-25 margin-top-45" style="font-weight: 400;">
                      Seleção do idioma
                    </h3>       

                    <div class="form-group fotm-tab">
                      <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Traduções desse objeto </label>
                      <div class="col-sm-9 font-size-16 font-weight-700" >
                        <span id="label_en">EN</span> |
                        <span id="label_es" class="inactive">ES</span>
                      </div>
                    </div>   

                    <div class="form-group fotm-tab">
                      <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Idioma </label>
                      <div class="col-sm-3">
                        <select class="form-control col-sm-12" id="idioma_trad" name="idioma_trad"  required="true">
                          <option value="">Selecione</option>
                          <option value="EN">Inlgês</option>
                          <option value="ES">Espanhol</option>
                        </select>
                      </div>
                    </div>  

                    <h3 class="header smaller lighter blue font-size-18 margin-bottom-25 margin-top-45" style="font-weight: 400;">
                      Nível 1 - Descrição
                    </h3>  


                    <div class="form-group fotm-tab">
                      <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Situação da tradução </label>
                      <div class="col-sm-9">

                        <div class="radio new-radio no-padding-left padding-top-2 margin-right-15">
                          <label>
                            <input name="sit_trad" type="radio" class="ace" checked="checked">
                            <span class="lbl"><div>Ativo</div></span>
                          </label>
                        </div>

                        <div class="radio2 new-radio padding-top-2">
                          <label>
                            <input name="sit_trad" type="radio" class="ace">
                            <span class="lbl"><div>Inativo</div></span>
                          </label>
                        </div>
                      </div>
                    </div>   

                    <div class="form-group fotm-tab margin-top-35">
                      <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Título *</label>
                      <div class="col-sm-8">
                        <input type="text" id="titulo_trad" name="titulo_trad" class="col-sm-12">
                      </div>

                      <div class="col-sm-1 align-right padding-top-3">
                        <a href="javascript:void(0)" id="id-btn-dialog1" ><img src="{{asset('admin/assets/images/icon_dialog.png')}}" alt=""></a>
                      </div>
                    </div>  

                    <div class="form-group fotm-tab">
                      <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Resumo *</label>
                      <div class="col-sm-8">
                        <textarea name="resumo_trad" id="resumo_trad" class="form-control descricao-grupo" placeholder="" ></textarea>
                      </div>
                      <div class="col-sm-1 align-right padding-top-3">
                        <a href="javascript:void(0)" id="id-btn-dialog2" ><img src="{{asset('admin/assets/images/icon_dialog.png')}}" alt=""></a>
                      </div>                      
                    </div>

                    <div class="form-group fotm-tab margin-top-35">
                      <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Nível escolar</label>
                      <div class="col-sm-8">
                        <input type="text" id="nivel_trad" name="nivel_trad" class="col-sm-12">
                      </div>

                      <div class="col-sm-1 align-right padding-top-3">
                        <a href="javascript:void(0)" id="id-btn-dialog3" ><img src="{{asset('admin/assets/images/icon_dialog.png')}}" alt=""></a>
                      </div>
                    </div>  

                    <div class="form-group fotm-tab">
                      <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Arquivo </label>
                      <div class="col-sm-6">
                        <div class="ace-file-input no-margin">
                          <input type="file" name="arquivo_trad" id="arquivo_trad" required="true" class="input-file" style="position: absolute;z-index: 1;opacity: 0;width: 100%; height: 29px;cursor: pointer;">
                          <label class="file-label" data-title="Localizar">
                            <span class="file-name" data-title="Sem arquivo"><i class="icon-upload-alt"></i></span>
                          </label>
                          <a class="remove" href="#"><i class="icon-remove"></i></a>
                        </div>
                      </div>
                    </div>

                  </div>

                <br clear="all"><br clear="all">
              </div>

            </form>
          </div>
          <!-- / WRAP DOS DADOS -->
            
        </div>
        <!-- / LATERAL DIREITA -->



      </div><!-- /.main-container-inner -->
    </div><!-- /.main-container -->



    <!-- #dialog-message -->
    <div id="dialog-message" class="hide"></div>
    <!-- / #dialog-message -->







    <!-- =============================== SCRIPTS =============================== -->


    <!--[if !IE]> -->
    <script type="text/javascript">
        window.jQuery || document.write("<script src='assets/js/jquery-2.0.3.min.js'>"+"<"+"/script>");
    </script>
    <!-- <![endif]-->

    <!--[if IE]>
    <script type="text/javascript">
     window.jQuery || document.write("<script src='assets/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
    </script>
    <![endif]-->



    <!-- basic scripts -->
    <script type="text/javascript">
        if("ontouchend" in document) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
    </script>
    <script src="{{asset('admin/assets/js/bootstrap.min.js')}}"></script>
    <script src="{{asset('admin/assets/js/typeahead-bs2.min.js')}}"></script>
    <script src="{{asset('admin/assets/js/bootbox.min.js')}}"></script>

    <!-- page specific plugin scripts -->

    <!--[if lte IE 8]>
      <script src="{{asset('admin/assets/js/excanvas.min.js')}}"></script>
    <![endif]-->

    <script src="{{asset('admin/assets/js/jquery-ui-1.10.3.custom.min.js')}}"></script>
    <script src="{{asset('admin/assets/js/jquery.ui.touch-punch.min.js')}}"></script>
    <script src="{{asset('admin/assets/js/jquery.slimscroll.min.js')}}"></script>
    <script src="{{asset('admin/assets/js/jquery.easy-pie-chart.min.js')}}"></script>
    <script src="{{asset('admin/assets/js/jquery.sparkline.min.js')}}"></script>
    <script src="{{asset('admin/assets/js/flot/jquery.flot.min.js')}}"></script>
    <script src="{{asset('admin/assets/js/flot/jquery.flot.pie.min.js')}}"></script>
    <script src="{{asset('admin/assets/js/flot/jquery.flot.resize.min.js')}}"></script>
    <script src="{{asset('admin/assets/js/jquery-ui-1.10.3.full.min.js')}}"></script>
    <script src="{{asset('admin/assets/js/jquery.ui.touch-punch.min.js')}}"></script>
    <script src="{{asset('admin/assets/js/chosen.jquery.min.js')}}"></script>
    <script src="{{asset('admin/assets/js/fuelux/fuelux.spinner.min.js')}}"></script>
    <script src="{{asset('admin/assets/js/date-time/bootstrap-datepicker.min.js')}}"></script>
    <script src="{{asset('admin/assets/js/date-time/bootstrap-timepicker.min.js')}}"></script>
    <script src="{{asset('admin/assets/js/date-time/moment.min.js')}}"></script>
    <script src="{{asset('admin/assets/js/date-time/daterangepicker.min.js')}}"></script>
    <script src="{{asset('admin/assets/js/bootstrap-colorpicker.min.js')}}"></script>
    <script src="{{asset('admin/assets/js/jquery.knob.min.js')}}"></script>
    <script src="{{asset('admin/assets/js/jquery.autosize.min.js')}}"></script>
    <script src="{{asset('admin/assets/js/jquery.inputlimiter.1.3.1.min.js')}}"></script>
    <script src="{{asset('admin/assets/js/jquery.maskedinput.min.js')}}"></script>
    <script src="{{asset('admin/assets/js/bootstrap-tag.min.js')}}"></script>


    <!-- ace scripts -->

    <script src="{{asset('admin/assets/js/ace-elements.min.js')}}"></script>
    <script src="{{asset('admin/assets/js/ace.min.js')}}"></script>


    <!-- Script exclusivo desta area -->
    <script src="{{asset('admin/js/cropbox.js')}}"></script>
    <script src="{{asset('admin/js/_objetos.js')}}"></script>
    <script src="{{asset('admin/js/objetos-crop.js')}}"></script>
    <script src="{{asset('admin/js/ckeditor/ckeditor.js?v=2"></script>
  </body>
</html>
